<template>
   <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">Trang chủ</el-breadcrumb-item>
            <el-breadcrumb-item
            ><a href="/">promotion management</a></el-breadcrumb-item
            >
            <el-breadcrumb-item>promotion list</el-breadcrumb-item>
            <el-breadcrumb-item>promotion detail</el-breadcrumb-item>
        </el-breadcrumb>
</template>

<script>
export default {

      mounted(){
         console.log(console.log(this.$router.currentRoute))
         console.log(this.$router.currentRoute.value.name )
      }
}
</script>

<style>
   .el-breadcrumb{
    margin: 20px 0;
   }
</style>