<template>
    <section class="danhmuc">
      <!-- {{ console.log(list.map(item=>console.log(item))) }} -->
      <el-col :md="24">
          <el-text tag="b" class="danhmuc-title" size="large"
            >danh mục ấn phẩm</el-text
          >
        </el-col>      
      <el-row>
        <el-col :md="5" :sm="5" :xs="24" class="cot1" >
          <el-text tag="b" class="cot-title" size="large"
            >ấn phẩm văn phòng</el-text
          >
          <el-row>
            <el-col :md="12" :xs="8"  v-for="product in list.cot1">
              <router-link style="text-decoration: none;" :to="{ name: 'Danh Mục sản phẩm', params: { id: product.id } }">
                <el-card :body-style="{ padding: '0px' }">
                  <img
                    :src="url +'storage/'+ product.img_product"
                    class="image"
                    style="height: 100px; object-fit: cover"
                  />
                  <div style="padding: 10px">
                    <span>{{ product.name }}</span>
                  </div>
                </el-card>
              </router-link>
            </el-col>

            <!-- <el-col :md="12" :xs="8">
              <a>
                <el-card :body-style="{ padding: '0px' }">
                  <img
                    src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_20190809172206473dm_danhthiep_v2.png"
                    class="image"
                    style="height: 100px; object-fit: cover"
                  />
                  <div style="padding: 14px">
                    <span>Danh thiếp</span>
                  </div>
                </el-card>
              </a>
            </el-col>
            <el-col :md="12" :xs="8">
              <a>
                <el-card :body-style="{ padding: '0px' }">
                  <img
                    src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_20190809172635476dm_biahoso_v2.png"
                    class="image"
                    style="height: 100px; object-fit: cover"
                  />
                  <div style="padding: 14px">
                    <span>Bìa đựng hồ sơ</span>
                  </div>
                </el-card>
              </a>
            </el-col>
            <el-col :md="12" :xs="8">
              <a>
                <el-card :body-style="{ padding: '0px' }">
                  <img
                    src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_20190809172635476dm_biahoso_v2.png"
                    class="image"
                    style="height: 100px; object-fit: cover"
                  />
                  <div style="padding: 14px">
                    <span>Bìa đựng hồ sơ</span>
                  </div>
                </el-card>
              </a>
            </el-col> -->
          </el-row>
        
        </el-col>
        <el-col :md="7" :sm="7" :xs="24" class="cot2">
          <el-text tag="b" class="cot-title" size="large"
            >ấn phẩm tiếp thị</el-text
          >
          <el-row>
            <el-col :md="8" :sm="12" :xs="8"  v-for="product in list.cot2">
              <router-link style="text-decoration: none;" :to="{ name: 'Danh Mục sản phẩm', params: { id: product.id } }">
                <el-card :body-style="{ padding: '0px' }">
                  <img
                  :src="url +'storage/'+ product.img_product"
                    class="image"
                    style="height: 100px; object-fit: cover"
                  />
                  <div style="padding: 10px">
                    <span>{{ product.name }}</span>
                  </div>
                </el-card>
              </router-link>
            </el-col>
        
          </el-row>
        </el-col>
        <el-col :md="5" :sm="5" :xs="24" class="cot3">
          <el-text tag="b" class="cot-title" size="large"
            >ấn phẩm bao bì</el-text
          >
          <el-row>
            <el-col :md="12" :sm="24" :xs="8"  v-for="product in list.cot3">
              <router-link style="text-decoration: none;" :to="{ name: 'Danh Mục sản phẩm', params: { id: product.id } }">
                <el-card :body-style="{ padding: '0px' }">
                  <img
                  :src="url +'storage/'+ product.img_product"
                    class="image"
                    style="height: 100px; object-fit: cover"
                  />
                  <div style="padding: 10px">
                    <span>{{ product.name }}</span>
                  </div>
                </el-card>
              </router-link>
            </el-col>
          
          </el-row>
        </el-col>
        <el-col :md="7" :sm="7" :xs="24" class="cot4" >
          <el-text tag="b" class="cot-title" size="large"
            >ấn phẩm khác</el-text
          >
          <el-row>
            <el-col :md="8" :sm="12" :xs="8"  v-for="product in list.cot4">
              <router-link style="text-decoration: none;" :to="{ name: 'Danh Mục sản phẩm', params: { id: product.id} }">
                <el-card :body-style="{ padding: '0px' }">
                  <img
                    :src="url +'storage/'+ product.img_product"
                    class="image"
                    style="height: 100px; object-fit: cover"
                  />
                  <div style="padding: 10px">
                    <span>{{ product.name }}</span>
                  </div>
                </el-card>
              </router-link>
            </el-col>
      
          </el-row>
        </el-col>
     
      
      </el-row>
    </section>
</template>

<script>
import axios from '../axios'

  

export default {
          data(){
            
           return{
            list:{
              cot1:[],
              cot2:[],
              cot3:[],
              cot4:[]
            },
            url :import.meta.env.VITE_APP_URL

           }
          },

          mounted(){
                this.getCategory()
          },
    
     methods:{
        
       async  getCategory(){
                try {
                     let res = await axios.get('danh-muc');
                      if(res.status===200){
                            const data = res.data;
                            data.filter(item=>{
                                 if(item.danhmuc_cap1_id==1){
                                  this.list.cot1.push(item)
                                 }else if(item.danhmuc_cap1_id==2){
                                  this.list.cot2.push(item)
                                 }
                                 else if(item.danhmuc_cap1_id==3){
                                  this.list.cot3.push(item)
                                    }
                                    else {
                                      this.list.cot4.push(item)
                                    }
                                 
                            })
                      
                      }else{
                        console.log('res',res)
                          
                      }
                } catch (error) {
                  console.log(error)
                }
         }
     }

}
</script>

<style>
.danhmuc{
  padding: 0 15px;
}
.danhmuc .el-card {
  text-align: center;
  border-radius: 0;
  cursor: pointer;
}
.danhmuc .el-card{
  box-shadow: none;
}
.danhmuc .el-card img {
  transform: scale(1);
  transition: all 0.3s linear;
  height: 70px !important;
}
.danhmuc .el-card:hover img {
  transform: scale(1.1);
}
.danhmuc-title{
  color: rgb(233, 0, 0);
  font-size: 19px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 10px 20px;
}
.cot1 {
  border-top: 2px solid #0fbaba;
}

.danhmuc .cot-title{
  display: none;
}
.menu .cot-title{
  display: block;
}
.menu .danhmuc-title{
  display: none;
}
.cot-title{
  text-transform: uppercase;
  padding: 20px;
  font-weight: 500;
}
.cot2 {
  border-top: 2px solid #f2c020;
}
.cot3 {
  border-top: 2px solid #f9b9e2;
}
.cot4 {
  border-top: 2px solid #72cca5;
}
</style>