


<script>
import { ElNotification } from 'element-plus'
import { useNotificationStore } from '../stores/Notificion';

export default {



    setup() {
    const notificationStore = useNotificationStore();
    const message = notificationStore.message;
    const type = notificationStore.type;

    watch([message, type], () => {
      // Thực hiện các hành động khi trạng thái thay đổi
      console.log('Trạng thái thay đổi:', message, type);
    });

    const clearNotification = () => {
      notificationStore.clearNotification();
    };

    return {
      message,
      type,
      title,
      clearNotification,
    };
  },
}
</script>


<style>

</style>