
<template>
   
        <!-- {{ console.log(isLoggedIn && localStorage.getItem('user')) }} -->
       <div class="top-bar">
            <el-row>
                <el-col :md="24">
                  <ul style="list-style: none;">

                    <li

                >
                <el-popover
                    placement="top-start"
                    :width="200"
                    trigger="hover"
                    content=""
                  >
                    <div style="text-align: left; margin: 0">
                      <el-button
                        style="width: 100%; cursor: pointer"
                        type="info"
                        size="medium"
                        >Thông tin</el-button
                      >
                      <br />
                      <br />
                      <el-button
                        @click="logOut"
                        style="width: 100%"
                        size="medium"
                        type="primary"
                        >Đăng xuất</el-button
                      >
                    </div>
                    <template #reference>
                      <a style="cursor: pointer;font-weight: bold;">{{
                        isLoggedIn?.name ||    isLoggedIn?.data?.name
                      }}</a>
                     
                    </template>
                  </el-popover>
                </li>
                  </ul>
                </el-col>
            </el-row>
       </div>
          <!-- <el-button :icon="Delete" style="margin-right: 8px; margin-top: 1px"
              >
        </el-button> -->
</template>

<script>
import { Menu as IconMenu, Message, Setting,Delete } from '@element-plus/icons-vue';
import { useUserStore } from '../../stores/User';
import {computed} from 'vue';
import { ElNotification } from 'element-plus';

  export default{
    components:{
    Delete,
    Setting
  },

  setup(){
    const user = useUserStore();

    const isLoggedIn = computed(() => user.crential || JSON.parse(localStorage.getItem('user')));


    return {
        isLoggedIn
    }
  },

  

  data(){
    return{
        Setting,
        Delete,
        localStorage: window.localStorage,

    }
  },

  methods:{
    logOut() {
      const user = useUserStore();
      user.logout();
      this.$router.push('/')
      // this.user = { data: { name: "" } };
      ElNotification({
        title: "Đăng xuất thành công",
        // message: 'This is a success message',
        type: "success",
      });
    },
  }
  }
</script>



<style></style>