<script setup>
import Header from "./Header.vue";
import Footer from "./Footer.vue";
import Sidebar from "./Sidebar.vue";
// import Breakcum from '../components/Breakcum.vue';
</script>

<template>
  <div class="common-layout">
    <el-container>
      <el-aside width="200px">
         <Sidebar />
      </el-aside>
      <el-container>
          <el-header style="text-align: right;">
            <Header />
          </el-header>
        <el-main>
          <!-- <Breakcum></Breakcum> -->
          <router-view></router-view>
        </el-main>
         <el-footer>
            <Footer />
         </el-footer>
      </el-container>
    </el-container>
  </div>
</template>

<style >
/* main{
     background-color: red;

 } */

 .el-header{
  box-shadow: 2px 2px 5px #00000014;

 }
 
</style>
