<template>
    <el-aside width="200px">
    <el-scrollbar>
      <el-menu
        active-text-color="#ffd04b"
        background-color="#1d3043"
        text-color="white"
        class="el-menu-vertical-demo"
        default-active="2"
        @open="handleOpen"
        @close="handleClose"
      >
        <el-sub-menu index="1">
          <template #title>
            <el-icon><location /></el-icon>
            <span>Danh mục</span>
          </template>
          <router-link style="color: white;text-decoration: none;" to="/admin/danh-muc">

          <el-menu-item index="1-1">

          <el-icon><icon-menu /></el-icon>
        
                <span>
                  Danh sách
                </span>
        
        </el-menu-item>
      </router-link>
      <router-link style="color: white;text-decoration: none;" to="/admin/add-danh-muc">

   
      </router-link>

        </el-sub-menu>
        <el-sub-menu index="2">
          <template #title>
            <el-icon><location /></el-icon>
            <span>Sản phẩm</span>
          </template>
          <router-link style="color: white;text-decoration: none;" to="/admin/san-pham">

          <el-menu-item index="2-1">

          <el-icon><icon-menu /></el-icon>
                <span>
                  Danh sách
                </span>
        </el-menu-item>
      </router-link>

   
        </el-sub-menu>
        <el-sub-menu index="3">
          <template #title>
            <el-icon><location /></el-icon>
            <span>Đơn hàng</span>
          </template>
          <router-link style="color: white;text-decoration: none;" to="/admin/don-hang">

          <el-menu-item index="3-1">

          <el-icon><icon-menu /></el-icon>
                <span>
                  Danh sách
                </span>
        </el-menu-item>
      </router-link>

   
        </el-sub-menu>
      
      </el-menu>
      </el-scrollbar>
</el-aside>
</template>


<script>
import {
  Document,
  Menu as IconMenu,
  Location,
  Setting,
} from '@element-plus/icons-vue'
export default{
    
}
</script>


<style>
.layout-container-demo .el-header {
  position: relative;
  background-color: #1d3043;
  color: white;
}
.layout-container-demo .el-aside {
  color: white;
  background: #1d3043;
}
.layout-container-demo .el-menu {
  border-right: none;
}
.layout-container-demo .el-main {
  padding: 0;
}
.layout-container-demo .toolbar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 20px;
}
</style>