<!-- <template>
    <ckeditor :editor="editor" :config="editorConfig" v-model="editorData" />
  </template>
  
  <script>
  import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
  import CKEditor from '@ckeditor/ckeditor5-vue';
  
  export default {
    components: {
      ckeditor: CKEditor.component,
    },
    data() {
      return {
        editor: ClassicEditor,
        editorData: '<p>Initial content</p>',
        editorConfig: {
          // CKEditor configuration options go here
          toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
        },
      };
    },
  };
  </script>
  
  <style>
  /* Optional: Add styles to your CKEditor component */
  </style>
   -->