<template>
  <el-dialog
    v-model="localIsOpen"
    :title="data.data.request === 'edit' ? 'Cập nhật' : 'Thêm mới'"
    width="60%"
    center
  >
    <el-form
      label-position="top"
      label-width="100px"
      v-loading="data.loading"
      style="max-width: 100%"
    >
      <el-form-item label="Tên sản phẩm">
        <el-input v-model="item.name" />
      </el-form-item>
      <el-form-item label="Hình ảnh">
        <input type="file" ref="fileInput" @change="handleFileChange" />
      </el-form-item>
      <el-form-item label="Giá sản phẩm">
        <el-input v-model="item.price" />
      </el-form-item>
      <el-form-item class="editor" label="Nội dung">
        <QuillEditor
          v-model:content="item.content"
          theme="snow"
          toolbar="full"
        />
        <!-- <CKEditor /> -->
      </el-form-item>
      <el-form-item class="editor" label="Mô tả">
        <!-- <el-input v-model="item.description" /> -->
        <QuillEditor
          v-model:content="item.description"
          theme="snow"
          toolbar="full"
        />
      </el-form-item>

      <el-form-item label="Số lượng kho">
        <el-input-number v-model="item.so_luong" :min="1" />
      </el-form-item>

      <el-form-item label="Danh mục">
        <el-select
          style="width: 100%"
          v-model="item.danhmuc_cap2_id"
          class="m-2"
          placeholder="Chọn danh mục"
          size="large"
        >
          <el-option
            v-for="item in this.listCategory"
            :key="item.id"
            :label="item.name"
            :value="item.id"
          />
        </el-select>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="closeModal">Hủy</el-button>
        <el-button type="primary" @click="addProduct(item)"> {{ data.data.request === 'edit' ? 'Cập nhật' : 'Thêm mới' }} </el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script>
import { useProductStore } from "../../stores/Product";
import { ElLoading, ElNotification } from "element-plus";
import { computed, defineProps, defineEmits } from "vue";
import { Delete, Download, Plus, ZoomIn } from "@element-plus/icons-vue";
// import CKEditor from './CKEditor.vue';

import "@vueup/vue-quill/dist/vue-quill.bubble.css";
import "@vueup/vue-quill/dist/vue-quill.snow.css";

import { QuillEditor } from "@vueup/vue-quill";
import axios from "../../axios";
import {QuillDeltaToHtmlConverter} from 'quill-delta-to-html';

export default {
  props: ["isOpen"],
  emits: ["close"],
  components: {
    Delete,
    Download,
    Plus,
    ZoomIn,
    QuillEditor,
  },
  data() {
    return {
      listCategory: [],
      selectedFile: null,

      editorContent: '<p>Your Quill Editor content here...</p>',

    };
  },

  mounted() {
    this.getDanhMuc();

  },

  methods: {
    async addProduct(item) {
      const store = useProductStore()
    //   const converter = new QuillDeltaToHtmlConverter(item.content.ops, {});
    //  const html = converter.convert();
      const converterContent = new QuillDeltaToHtmlConverter(item.content.ops, {});
      const htmlContent = converterContent.convert();

      const converterDes = new QuillDeltaToHtmlConverter(item.description.ops, {});
      const htmlDes = converterDes.convert();

      // const combinedHTML = item.content.ops.join('');
      // const combinedHTMLDes = item.description.ops.join('');
    
      try {
        let formData = new FormData();
        formData.append("name", item.name);
        formData.append("hinhanh", this.selectedFile);
        formData.append("price", item.price);
        formData.append("description", htmlDes);
        formData.append("content", htmlContent);
        formData.append("so_luong", item.so_luong);
        formData.append("danhmuc_cap2_id", item.danhmuc_cap2_id);
        let url = store.data.request==='edit'? `san-pham/${item.id}`:'san-pham'
        let res = await axios.post(url, formData);
        if(res.status===201){
          this.closeModal();
          store.defaultItem()
          store.getProduct()
          this.selectedFile='';
          ElNotification({
            title:store.data.request==='edit'?'Cập nhật sản phẩm thành công': 'Thêm sản phẩm thành công',
            // message: 'This is a success message',
            type: "success",
    
         
          });
        }
      } catch (error) {
        console.log(error)
        ElNotification({
        title: error.response.data.message,
        // message: 'This is a success message',
        type: "error",
      });
 

      }
    },
    async getDanhMuc() {
      try {
        let res = await axios.get("danh-muc");
        this.listCategory = res.data;
      } catch (error) {
        console.log(error);
      }
    },

    handleFileChange(event) {
      const file = event.target.files[0];
      // Lưu trữ thông tin file hoặc thực hiện các xử lý khác ở đây
      this.selectedFile = file;
    },
  },
  onEditorReady(editor) {
    // Editor is ready, you can now capture changes
    editor.on("text-change", () => {
      const updatedContent = editor.getHTML();
      this.content = updatedContent;
      this.handleContentChange(updatedContent);
    });
  },

  handleContentChange(newContent) {
    // This function will be called whenever the content changes
    console.log("Content changed:", newContent);
    // You can perform additional actions here, such as updating other data or making API calls.
  },
  setup(props, { emit }) {
    const data = useProductStore();

    //    const dataCompu =
    const dataCompu = computed(() => data.data.item);

    const localIsOpen = computed({
      get: () => props.isOpen,
      set: (value) => {
        // Emit a custom event to notify the parent about the change
        emit("close", value);
      },
    });
    const closeModal = () => {
      emit("close"); // Emit the custom event
    };
    return {
      localIsOpen,
      data,
      item: dataCompu,
      closeModal,
      Delete,
      Download,
      Plus,
      ZoomIn,
    };
  },
};
</script>

<style>
.editor .el-form-item__content {
  display: block;
}

.el-form-item label,
.el-form-item__label {
  font-weight: bold;
}
</style>
