<template>

    <el-dialog
      v-model="localIsOpen"
      :title="data.data.request === 'edit' ? 'Cập nhật' : 'Thêm mới'"
      width="60%"
      center
    >
      <el-form
        label-position="top"
        label-width="100px"
        v-loading="data.loading"
        style="max-width: 100%"
      >
        <el-form-item label="Tên danh mục">
          <el-input v-model="item.name" />
        </el-form-item>
        <el-form-item label="Hình banner">
          <input type="file" @change="handleFileChange" />
        </el-form-item>
        <el-form-item label="Hình sản phẩm">
          <input type="file" @change="handleFileChangeHinhAnh" />
        </el-form-item>
        <el-form-item label="Danh mục">
          <el-select
            style="width: 100%"
            v-model="item.danhmuc_cap1_id"
            class="m-2"
            placeholder="Chọn danh mục"
            size="large"
          >
            <el-option
              v-for="item in this.listCategory"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="closeModal">Hủy</el-button>
          <el-button type="primary" @click="addCategory(item)"> {{ data.data.request === 'edit' ? 'Cập nhật' : 'Thêm mới' }} </el-button>
        </span>
      </template>
    </el-dialog>
  </template>
  
  <script>
  import { useProductStore } from "../../stores/Product";
  import { ElLoading, ElNotification } from "element-plus";
  import { computed, defineProps, defineEmits } from "vue";
  import { Delete, Download, Plus, ZoomIn } from "@element-plus/icons-vue";
  // import CKEditor from './CKEditor.vue';

  import axios from "../../axios";
import { useCategoryStore } from "../../stores/DanhMuc";
  
  export default {
    props: ["isOpen"],
    emits: ["close"],
    components: {
      Delete,
      Download,
      Plus,
      ZoomIn,
    },
    data() {
      return {
        listCategory: [],
        selectedFile: null,
        selectedFileHinhAnh: null,

      };
    },
  
    mounted() {
      this.getDanhMuc();
  
    },
  
    methods: {
      async addCategory(item) {
        const store = useCategoryStore()
        try {
          let formData = new FormData();
          formData.append("name", item.name);
          formData.append("hinhanh", this.selectedFile);
          formData.append("img_product", this.selectedFileHinhAnh);
          formData.append("danhmuc_cap1_id", item.danhmuc_cap1_id);

          let url = store.data.request==='edit'? `danh-muc-cap-2/${item.id}`:'danh-muc'
          let res = await axios.post(url, formData);
          if(res.status===201){
            this.closeModal();
            store.defaultItem()
            store.getCategory()
            this.selectedFile='';
            ElNotification({
              title:store.data.request==='edit'?'Cập nhật danh mục thành công': 'Thêm danh mục thành công',
              // message: 'This is a success message',
              type: "success",
      
           
            });
          }
        } catch (error) {
          console.log(error)
          ElNotification({
          title: error.response.data.message,
          // message: 'This is a success message',
          type: "error",
        });
   
  
        }
      },
      async getDanhMuc() {
        try {
          let res = await axios.get("danh-muc-cap-1");
          this.listCategory = res.data;
        } catch (error) {
          console.log(error);
        }
      },
  
      handleFileChange(event) {
        const file = event.target.files[0];
        // Lưu trữ thông tin file hoặc thực hiện các xử lý khác ở đây
        this.selectedFile = file;
      },
      handleFileChangeHinhAnh(event) {
        const file = event.target.files[0];
        // Lưu trữ thông tin file hoặc thực hiện các xử lý khác ở đây
        this.selectedFileHinhAnh = file;
      },
    },
  
    setup(props, { emit }) {
      const data = useCategoryStore();
  
      //    const dataCompu =
      const dataCompu = computed(() => data.data.item);
  
      const localIsOpen = computed({
        get: () => props.isOpen,
        set: (value) => {
          // Emit a custom event to notify the parent about the change
          emit("close", value);
        },
      });
      const closeModal = () => {
        emit("close"); // Emit the custom event
      };
      return {
        localIsOpen,
        data,
        item: dataCompu,
        closeModal,
        Delete,
        Download,
        Plus,
        ZoomIn,
      };
    },
  };
  </script>
  
  <style>
  .editor .el-form-item__content {
    display: block;
  }
  
  .el-form-item label,
  .el-form-item__label {
    font-weight: bold;
  }
  </style>
  