<template>
  <h1>Danh sách danh mục</h1>
  <div style="text-align: right;margin-bottom: 20px;">
      <el-button type="primary" @click="addCategory">Thêm mới</el-button>
  </div>
  <el-table :data="listData" style="width: 100%">
    <el-table-column fixed prop="date" label="STT" width="50" />
    <el-table-column prop="name" label="Tên sản phẩm" width="250" />
    <el-table-column prop="hinhanh" label="Hình ảnh banner" width="150">
      <template #default="scope">
        <img style="width: 100%; height: 80px;object-fit: cover;" :src="url +'storage/'+ scope.row.hinhanh" />
      </template>
    </el-table-column>
    <el-table-column prop="img_product" label="Hình ảnh sản phẩm" width="150">
      <template #default="scope">
        <img style="width: 100%; height: 80px;object-fit: cover;" :src="url +'storage/'+ scope.row.img_product" />
      </template>
    </el-table-column>
    <el-table-column prop="danhmuc_cap1_id" label="Thuộc danh mục cấp 1" width="200" />
    <el-table-column fixed="right" label="Hành động" width="150">
      <template #default="scope">
        <el-button
          link
          type="primary"
          size="small"
          @click="openModal(scope.row.id)"
          >Chỉnh sửa</el-button
        >
        <el-button link type="primary" size="small" @click="deleCategory(scope.row.id)">Xóa</el-button>
      </template>
    </el-table-column>
  </el-table>
  <ModalCategory :isOpen="modalOpen" @close="closeModal" />
</template>

<script>
import axios from "../../axios";
import { useProductStore } from "../../stores/Product";
import ModalCategory from "../components/ModalCategory.vue";

import {computed} from 'vue'
import { useCategoryStore } from "../../stores/DanhMuc";

export default {
  components: {
    ModalCategory,
  },
  data() {
    return {
      modalOpen: false,
      url :import.meta.env.VITE_APP_URL
    };
  },

  setup(){
    const store = useCategoryStore();
    const listData = computed(() => store.listCategory);
    return{
      listData
    }
  },
  mounted() {
    const store = useCategoryStore();
    store.getCategory();
  },

  methods: {
    addCategory(){
      const store = useCategoryStore();
      this.modalOpen = true;
      store.setRequest("add");
      store.defaultItem()
    },
    deleCategory(id){
      const store = useCategoryStore();
       store.deleteCategory(id);
       store.getCategory();

    },
    openModal(id) {
      const store = useCategoryStore();
      this.modalOpen = true;
      store.setRequest("edit");
      store.editCategory(id);
    },
    closeModal() {
      this.modalOpen = false;
    },
  },
};
</script>

<style></style>
