<template>
    <h1>Danh sách đơn hàng</h1>
    <!-- <div style="text-align: right;margin-bottom: 20px;">
        <el-button type="primary" @click="addCategory">Thêm mới</el-button>
    </div> -->
    <el-table :data="listData" style="width: 100%">
      <el-table-column fixed prop="index" label="STT" width="50" />
      <el-table-column prop="name" label="Số điện thoại" width="150" >
        <template #default="scope">
          {{ scope.row.user.phone }}
          <!-- <img style="width: 100%; height: 80px;object-fit: cover;" :src="url +'storage/'+ scope.row.hinhanh" /> -->
        </template>
      </el-table-column>
      <el-table-column prop="user" label="Tên khách hàng" width="150">
        <template #default="scope">
          {{ scope.row.user.name }}
          <!-- <img style="width: 100%; height: 80px;object-fit: cover;" :src="url +'storage/'+ scope.row.hinhanh" /> -->
        </template>
      </el-table-column>
      <el-table-column prop="item.user.address" label="Địa chỉ" width="150">
        <template #default="scope">
          {{ scope.row.user.address }}
          <!-- <img style="width: 100%; height: 80px;object-fit: cover;" :src="url +'storage/'+ scope.row.hinhanh" /> -->
        </template>
      </el-table-column>
      <el-table-column prop="danhmuc_cap1_id" label="Số lượng đơn" width="150">
        <template #default="scope">
           <strong style="color: #207f5c;font-size: 18px;font-weight: bold;">
            {{ scope.row.orderdetails.length }}
           </strong>
          <!-- <img style="width: 100%; height: 80px;object-fit: cover;" :src="url +'storage/'+ scope.row.hinhanh" /> -->
        </template>
      </el-table-column>
      <el-table-column prop="danhmuc_cap1_id" label="Trạng thái" width="150">
        <template #default="scope">
          <el-tag
          :type="scope.row.status === 'pending' ? '' : 'success'"
          disable-transitions
          >{{ scope.row.status }}</el-tag
        >
          <!-- <img style="width: 100%; height: 80px;object-fit: cover;" :src="url +'storage/'+ scope.row.hinhanh" /> -->
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="Duyệt đơn hàng" width="200">
        <template #default="scope">       
          <el-switch
                @click="approveOrders(scope.row.id)"
                v-model="scope.row.is_status"
                size="large"
     
              />
        </template>
      </el-table-column>
    </el-table>
    <!-- <ModalCategory :isOpen="modalOpen" @close="closeModal" /> -->
  </template>
  
  <script>
  import axios from "../../axios";
  import { useProductStore } from "../../stores/Product";
  import ModalCategory from "../components/ModalCategory.vue";
  
  import {computed} from 'vue'
  import { useCategoryStore } from "../../stores/DanhMuc";
import { useOrdersStore } from "../../stores/Order";
import { ElNotification } from "element-plus";
  
  export default {
    components: {
      ModalCategory,
    },
    data() {
      return {
        modalOpen: false,
        url :import.meta.env.VITE_APP_URL
      };
    },
  
    setup(){
      const store = useOrdersStore();
      const listData = computed(() => store.listOrders);
      return{
        listData
      }
    },
    mounted() {
      const store = useOrdersStore();
      store.getOrders();
    },
  
    methods: {
     async approveOrders(id){ 
          try {
               let res = await axios.post(`update-orders-status/${id}`)
               console.log('res',res)
               if(res.status===201){
                ElNotification({
        title: res.message,
        // message: 'This is a success message',
        type: "success",
      });
               }
          } catch (error) {
               console.log(error)
          }
     },

      addCategory(){
        const store = useOrdersStore();
        this.modalOpen = true;
        store.setRequest("add");
        store.defaultItem()
      },
      deleCategory(id){
        const store = useOrdersStore();
         store.deleteCategory(id);
         store.getCategory();
  
      },
      openModal(id) {
        const store = useOrdersStore();
        this.modalOpen = true;
        store.setRequest("edit");
        store.editCategory(id);
      },
      closeModal() {
        this.modalOpen = false;
      },
    },
  };
  </script>
  
  <style></style>
  