<template>
  <h1>Danh sách sản phẩm</h1>
  <div style="text-align: right;margin-bottom: 20px;">
      <el-button type="primary" @click="addProduct">Thêm mới</el-button>
  </div>
  <el-table :data="listData" style="width: 100%">
    <el-table-column fixed prop="date" label="STT" width="50" />
    <el-table-column prop="name" label="Tên sản phẩm" width="250" />
    <el-table-column prop="hinhanh" label="Hình ảnh" width="100">
      <template #default="scope">
        <img style="width: 100%; height: 80px;object-fit: cover;" :src="url +'storage/'+ scope.row.hinhanh" />
      </template>
    </el-table-column>
    <el-table-column prop="price" label="Giá" width="120" />
    <el-table-column prop="description" label="Mô tả" width="150" />
    <el-table-column prop="so_luong" label="Số lượng kho" width="120" />
    <el-table-column prop="danhmucname" label="Thuộc danh mục" width="130" />

    <el-table-column fixed="right" label="Hành động" width="150">
      <template #default="scope">
        <el-button
          link
          type="primary"
          size="small"
          @click="openModal(scope.row.id)"
          >Chỉnh sửa</el-button
        >
        <el-button link type="primary" size="small" @click="deleProduct(scope.row.id)">Xóa</el-button>
      </template>
    </el-table-column>
  </el-table>
  <Modal :isOpen="modalOpen" @close="closeModal" />
</template>

<script>
import axios from "../../axios";
import { useProductStore } from "../../stores/Product";
import Modal from "../components/Modal.vue";
import '@vueup/vue-quill/dist/vue-quill.bubble.css';
import '@vueup/vue-quill/dist/vue-quill.snow.css';
import {computed} from 'vue'

import { QuillEditor } from '@vueup/vue-quill'
export default {
  components: {
    Modal,QuillEditor
  },
  data() {
    return {
      modalOpen: false,
      url :import.meta.env.VITE_APP_URL
    };
  },

  setup(){
    const store = useProductStore();
    const listData = computed(() => store.listProduct);
    return{
      listData
    }
  },
  mounted() {
    const store = useProductStore();
    store.getProduct();
  },

  methods: {
    addProduct(){
      const store = useProductStore();
      this.modalOpen = true;
      store.setRequest("add");
      store.defaultItem()
    },
    deleProduct(id){
      const store = useProductStore();
      this.modalOpen = false;
       store.deleteProduct(id)
       store.getProduct();

    },
    openModal(id) {
      const store = useProductStore();
      this.modalOpen = true;
      store.setRequest("edit");
      store.editProduct(id);
    },
    closeModal() {
      this.modalOpen = false;
    },
  },
};
</script>

<style></style>
