<template>
    <div>
       
   <section class="doitac">
     <el-row >
      
         <el-col :md="12" :sm="12" :xs="24">
            <el-row>
              <el-col :md="24" :sm="24" :xs="24" style="border-top: 2px solid #207f5c;">
           <h5 style="text-align: center;color: #207f5c;font-size: 18px;padding: 5px 0;">ĐỐI TÁC TIN CẬY CỦA CÁC THƯƠNG HIỆU HÀNG ĐẦU</h5> 
        </el-col>
               <el-col :md="6" :sm="6" :xs="6">
                  <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/logo-1.png"/> 
              </el-col>
               <el-col :md="6" :sm="6" :xs="6">
                <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/logo-2.png"/> 
              </el-col>
               <el-col :md="6" :sm="6" :xs="6">
                <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/logo-3.png"/> 
              </el-col>
               <el-col :md="6" :sm="6" :xs="6">
                <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/logo-4.png"/> 
              </el-col>
              <el-col :md="6" :sm="6" :xs="6">
                <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/logo-5.png"/> 
              </el-col>
              <el-col :md="6" :sm="6" :xs="6">
                <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/logo-6.png"/> 
              </el-col>
              <el-col :md="6" :sm="6" :xs="6">
                <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/logo-7.png"/> 
              </el-col>
              <el-col :md="6" :sm="6" :xs="6">
                <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/logo-9.png"/> 
              </el-col>
              <el-col :md="6" :sm="6" :xs="6">
                <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/logo-10.png"/> 
              </el-col>
              <el-col :md="6" :sm="6" :xs="6">
                <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/logo-11.png"/> 
              </el-col>
              <el-col :md="6" :sm="6" :xs="6">
                <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/logo-12.png"/> 
              </el-col>
              <el-col :md="6" :sm="6" :xs="6">
                <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/logo-8.png"/> 
              </el-col>
            </el-row>
        </el-col>
         <el-col :md="12" :sm="12" :xs="24">
          <el-carousel :interval="4000" type="card" height="300px">
                  <el-carousel-item style="text-align: center;">
                     <img src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/avatar-2.png"/>
                     <h3  justify="center">Thư Đoàn</h3>
                    <p>CEO Vua Cua Trading & Service JSC</p>
                    <p class="content">"Thư rất ấn tượng với phong cách làm việc của các bạn: Trách nhiệm, tốc độ và niềm tin, chúc Thế Giới In Ấn ngày càng phát triển.</p>
                  </el-carousel-item>
                  <el-carousel-item style="text-align: center;">
                     <img src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/avatar-1.png"/>
                    <h3  justify="center">Nguyễn Thiện</h3>
                    <p>CEO GiuseArt</p>
                    <p class="content">"Mình cảm thấy rất yên tâm và hài lòng với dịch vụ chăm sóc khách hàng và hệ thống quản lý đơn hàng của công ty.</p>
                  </el-carousel-item>
         </el-carousel>

         <div class="doitac-box">
            <el-row>
              <el-col :md="8" :sm="8" :xs="8">
                <el-card :body-style="{ padding: '0px' }">
        <img
        style="width: 50%;"
          src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/icon-1.png"
          class="image"
        />
        <div style="padding: 14px">
          <h3>200,000 +</h3>
          <div class="bottom">
             <p class="text">Đơn hàng hoàn thành</p>
          </div>
        </div>
      </el-card>
              </el-col>

              <el-col :md="8" :sm="8" :xs="8">
                <el-card :body-style="{ padding: '0px' }">
        <img
        style="width: 50%;"
          src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/icon-1.png"
          class="image"
        />
        <div style="padding: 14px">
          <h3>50,000 +</h3>
          <div class="bottom">
             <p class="text">Khách hàng đã phục vụ</p>
          </div>
        </div>
      </el-card>
              </el-col>

              <el-col :md="8" :sm="8" :xs="8">
                <el-card :body-style="{ padding: '0px' }">
        <img
        style="width: 50%;"
          src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/icon-1.png"
          class="image"
        />
        <div style="padding: 14px">
          <h3>8 năm +</h3>
          <div class="bottom">
             <p class="text">Đã tận tâm phục vụ</p>
          </div>
        </div>
      </el-card>
              </el-col>
            </el-row>
         </div>

          </el-col>

     </el-row>
    </section>

    <section class="tranh">
          <el-row>
            <el-col :md="12">
              <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/pixefy-01.jpg"/>
            </el-col>
            <el-col :md="12">
              <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/pixefy-02.jpg"/>
            </el-col>
          </el-row>
    </section>
    <footer>
         <div class="footer-main">
            <el-row>
                <el-col :md="4" :sm="4" :xs="24" class="footer1">
                     <h5 class="footer-title">
                        THƯƠNG HIỆU THÀNH VIÊN
                     </h5> 
                     <div class="footer1-logo">
                        <img style="width: 100%; " src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/logo-pixefy.png"/>
                        <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/logo_thesimple.png"/>
                     </div>
                    <p>
                        <span>CTY TNHH MTV THẾ GIỚI IBB</span>
                        <br/>
                        <span>GPDKKD số: 032432434</span>
                        <br/>
                        <span>Điện thoại: 0123456789</span>
                        <br/>
                    </p>
<br/>
                    <p>
                        <span>Sáng từ: 8h00 ÷ 12h00</span>
                        <br/>
                        <span>Chiều từ: 13h30 ÷ 17h30</span>
                        <br/>
                        <span>Thứ 7 từ: 8h ÷ 12h00</span>
                        <br/>
                        <span>(Nghỉ chiều Thứ 7 & chủ nhật)</span>
                        <br/>
                    </p>
    
                </el-col>
                <el-col :md="10" :sm="24" :xs="24" class="footer2">
                    <h5 class="footer-title">
                    TƯ VẤN ĐẶT HÀNG
                     </h5> 

                     <div class="footer2-top">
                        <b style="flex:1">0868602253</b>
                        <div style="flex:1">
                            <p><a>hotro@giuseart.com</a></p>
                            <p><a>baogia@giuseart.com</a></p>

                        </div>
                        <div style="flex:1">
                            <p><a>Góp ý về dịch vụ</a></p>
                            <strong >0938 805 xxx</strong>
                        </div>
                     </div>
                     <div class="footer2-mid">
                        <el-row :gutter="20">
                            <el-col :md="8" :sm="8">
                                 <el-row :gutter="10">
                                      <el-col :md="6" :sm="6" :xs="4">
                                          <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/zalo-mobi-icon.png"/>
                                       </el-col>
                                     <el-col :md="18" :sm="18" :xs="20">
                                           <h5>NV Thanh Hà</h5>
                                           <p class="sdt">0938 80 10 68</p>
                                   </el-col>
                                 </el-row> 
                            </el-col>

                            <el-col :md="8">
                                 <el-row :gutter="10">
                                      <el-col :md="6" :xs="4">
                                          <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/zalo-mobi-icon.png"/>
                                       </el-col>
                                     <el-col :md="18" :xs="20">
                                           <h5>NV Thanh Hà</h5>
                                           <p class="sdt">0938 80 10 68</p>
                                   </el-col>
                                 </el-row> 
                            </el-col>

                            <el-col :md="8">
                                 <el-row :gutter="10">
                                      <el-col :md="6" :xs="4">
                                          <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/zalo-mobi-icon.png"/>
                                       </el-col>
                                     <el-col :md="18" :xs="20">
                                           <h5>NV Thanh Hà</h5>
                                           <p class="sdt">0938 80 10 68</p>
                                   </el-col>
                                 </el-row> 
                            </el-col>

                            <el-col :md="8">
                                 <el-row :gutter="10">
                                      <el-col :md="6" :xs="4">
                                          <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/zalo-mobi-icon.png"/>
                                       </el-col>
                                     <el-col :md="18" :xs="20">
                                           <h5>NV Thanh Hà</h5>
                                           <p class="sdt">0938 80 10 68</p>
                                   </el-col>
                                 </el-row> 
                            </el-col>

                            <el-col :md="8">
                                 <el-row :gutter="10">
                                      <el-col :md="6" :xs="4">
                                          <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/zalo-mobi-icon.png"/>
                                       </el-col>
                                     <el-col :md="18" :xs="20">
                                           <h5>NV Thanh Hà</h5>
                                           <p class="sdt">0938 80 10 68</p>
                                   </el-col>
                                 </el-row> 
                            </el-col>
                        </el-row>
                     </div>

                     <div class="footer2-bottom">
                             <span>Chúng tôi không thực hiện bất kì yêu cầu nâng giá, kê giá từ phía khách hàng và nhân viên.</span>
                             <br/>
                             <p>We will not do any requests to raise prices, adjust prices from both the customer and the staff</p>
                     </div>

                </el-col>
                <el-col :md="4" :sm="4" :xs="24" class="footer3">
                     <div>
                        <h5 class="footer-title">
                     HƯỚNG DẪN VÀ THÔNG TIN
                     </h5> 
                     <ul>
                        <li><a>- Hướng dẫn đặt hàng online</a></li>
                        <li><a>- Giao hàng và Vận Chuyển</a></li>
                        <li><a>- Hình thức thanh toán</a></li>

                     </ul>
                     </div>
                     <br/>
                     <div>
                        <h5 class="footer-title">
                     CHÍNH SÁCH
                     </h5> 
                     <ul>
                        <li><a>- Chính sách bảo hành</a></li>
                        <li><a>- Thoả thuận sử dụng</a></li>
                        <li><a>- Chính sách đổi trả hàng</a></li>
                        <li><a>- Chính sách bảo mật</a></li>

                     </ul>
                     </div>
                     <br/>

                     <div>
                        <h5 class="footer-title">
                            HỢP TÁC & TÀI TRỢ
                     </h5> 
                    <p>Ms ABC</p>
                    <p>Email: info.giuseart.com@gmail.com</p>

                     </div>
                  </el-col>
                <el-col :md="6" :sm="6" :xs="24" class="footer4">
                   <div>
                    <h5 class="footer-title">
                     PHƯƠNG THỨC VÀ THANH TOÁN
                     </h5> 
                       <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/THE-GIOI-IN-AN-Cong-ty-in-an-TP-HCM-in-gia-re-in-an-gia-re.png"/>
                   </div>
                   <div>
                    <h5 class="footer-title">
                    tìm đồng đội
                     </h5> 
                       <img style="width: 100%;" src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_banner_20190820162035430banner_hr_giaodien_v2.png"/>
                   </div>
                </el-col>

            </el-row>
         </div>
         <div class="footer-copyright" style="text-align: center;">
            Copyright © 2022
         </div>
    </footer>
    </div>
</template>

<script>
export default {
     

}
</script>

<style scoped> 
footer{
    margin-top: 40px;
}
     .footer-title{
        color: #666;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
     }
     .footer1{

     }
     .footer-main{
        padding: 0 10px;
     }
     .footer1-logo{
        display: flex;
        gap: 20px;
        margin: 10px 0;
     }
     .footer1-logo img{
        height: 80px;
        border: 1px solid #d8d8d8;
        border-radius: 5px;
     }
     .footer1 p{
        font-size: 14px;
        color: #777;
     }
        .footer2{
        }
     .footer2-top{
        display: flex;
        align-items: center;
     }
     .footer2-top b{
        color: #008000;
        text-align: center;
        font-weight: 500;
     }

     .footer2-top a{
        font-size: 14px;
    color: #777;
     }
     .footer2-mid,.footer2-bottom{
        background: #f5f5f5;
        padding: 14px;
        margin-top: 20px;
     }

     .footer2-mid .el-col{
        margin: 8px 0;
     }
     .footer2-mid h5{
        color: #008000;
        font-size: 14px;
     }
     .footer2-mid .sdt{
        color: #777;

     }
     .footer2-bottom p{
        font-size: 95%;
    color: #999999;
     }

     .footer3 ul{
        list-style: none;
     }
     .footer3 ul li >a, .footer3 p{
        font-size: 14px;
    color: #777;
     }
     .el-carousel__item h3 {
  color: black;
  opacity: 0.75;
  margin: 0;
  text-align: center;
}
.el-carousel__item .content{
  font-size: 14px;
    color: black;

}
.el-carousel__item h3{
  font-weight: bold;
}
.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}
.doitac-box .el-card{
  box-shadow: none;
  border: none;
  text-align: center;
}
.doitac-box .el-card img{
  height: 100px;
}
.doitac-box h3{
  color: #207f5c;
  font-weight: 700;
font-size: 150%;
}

@media screen and (max-width:768px){
     .doitac-box img{
      height: 65px !important;
     }
     .doitac-box h3{
      font-size: 15px;
     }
     .doitac-box p{
      font-size: 10px;
     }

     .footer1-logo{
      max-width: 300px;
     }
     .footer2-top{
      display: none;
     }
     .footer2{
      margin: 20px 0;
     }
     .footer2-bottom{
      display: none;
     }
}

.el-col{
  padding: 0 10px;
}
</style>