<template>
  <div>
    <header>
      <div class="top-bar">
        <el-row>
          <el-col :md="12"> </el-col>
          <el-col :md="12" class="top-bar-right">
            <ul class="list"> 
              <li><a>Kiểm tra đơn hàng</a></li>
              <li>
                  <a>
                    <router-link to="/cua-hang" style="color:white;text-decoration: none;">  Cửa hàng</router-link>                  
                  </a>
            </li>
              <li
                v-if="isLoggedIn && localStorage.getItem('user')"
                
              >
              <el-popover
                  placement="top-start"
                  :width="200"
                  trigger="hover"
                  content=""
                >
                  <div style="text-align: left; margin: 0">
                    <el-button
                      style="width: 100%; cursor: pointer"
                      type="info"
                      size="medium"
                      @click="$router.push('/account')"
                      >Thông tin
                      </el-button
                    >
                    <br />
                    <br />
                    <el-button
                      @click="logOut"
                      style="width: 100%"
                      size="medium"
                      type="primary"
                      >Đăng xuất</el-button
                    >
                  </div>
                  <template #reference>
                    <a style="cursor: pointer;gap:10px;align-items: center;display: flex;">
                      <el-avatar :size="25" src="https://empty" @error="errorHandler">
                    <img  style="object-fit: cover;"
                        :src="this.hinhanh !== false ? url + 'storage/' + this.hinhanh : this.circleUrl" />
                </el-avatar>
                    {{
                       JSON.parse(localStorage.getItem("user"))?.name
                    }}</a>
                  </template>
                </el-popover>
              </li>
              <li style="cursor: pointer" v-else @click="centerDialogVisible = true">Đăng nhập</li>
              <!-- <li style="cursor: pointer"
                 :style="{display:isLoggedIn===null?'none':'block'}"
                
                >
                <a>Đăng nhập</a>
              </li> -->
            </ul>
          </el-col>
        </el-row>
      </div>


      <el-dialog
        v-model="centerDialogVisible"
        title="Đăng nhập"
        width="40%"
        center
      >
        <el-form
          :model="this.form"
          label-position="top"
          label-width="100px"
          style="width: 100%"
        >
          <el-form-item
            label="Email"
            :rules="[
              {
                required: true,
                message: 'Vui lòng nhập email',
                trigger: 'blur',
              },
              {
                type: 'email',
                message: 'Please input correct email address',
                trigger: ['blur', 'change'],
              },
            ]"
          >
            <el-input v-model="form.email" />
          </el-form-item>
          <el-form-item
            label="Mật khẩu"
            :rules="[
              {
                required: true,
                message: 'Vui lòng nhập mật khẩu',
                trigger: 'blur',
              },
              {
                type: 'email',
                message: 'Please input correct email address',
                trigger: ['blur', 'change'],
              },
            ]"
          >
            <el-input
              v-model="form.password"
              type="password"
              autocomplete="off"
            />
          </el-form-item>
          <el-link type="primary">Đăng ký</el-link>
          <br />
          <el-button @click="onSubmit" class="btn-login">Đăng nhập</el-button>
        </el-form>
      </el-dialog>

      <div class="mid-bar">
        <el-row style="align-items: center">
          <el-col :xs="24" class="create-cv">
            <a href="# " class="link">
              <img
                src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/kehoachin.png"
              />
            </a>
          </el-col>
          <el-col :xs="6" class="icon-menubar">
            <el-button :icon="Expand"></el-button>
          </el-col>
          <el-col :md="5" :sm="5" :xs="12">
            <div class="logo">
              <router-link to="/">
                <img
                  style="width: 100%"
                  src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/LOGO-01-mobile.png"
                />
              </router-link>
            </div>
          </el-col>
          <el-col
            :md="8"
            :sm="8"
            class="mid-bar-search"
            style="display: flex; align-items: center"
          >
            <el-input
              v-model="input"
              placeholder="Nhập tên sản phẩm cần tìm..."
              class="input-with-select"
              :onchange="updateSearchQuery"

              :onclick="onclickSearchQuery"
            >
         
              <template #append>
                 <router-link  :to="{ name: 'Tìm kiếm',  query: { key: input } }">
                       <el-button  :icon="Search" class="mid-bar-icon" />
                 </router-link>
              </template> </el-input
          ></el-col>
          <el-col :md="4" :sm="4" class="mid-bar-logo">
            <img
              style="width: 100%"
              src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_banner_20191111161939430icon_printnow_fix.png"
            />
          </el-col>
          <el-col :md="4" :sm="4" class="mid-bar-logo">
            <img
              style="width: 100%"
              src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_banner_20191101160722421icon_5ngaydoitra_fix.png"
            />
          </el-col>
          <el-col
            :md="3"
            :sm="3"
            :xs="6"
            class="cot-cart"
            style="display: flex; align-items: center; justify-content: center"
          >
            <ul class="cart-gio" @click="drawer = true">
              <li>Giỏ hàng</li>
               <p style="display: none;">{{ isLoading ? this.getCartUser() :'' }}</p>
              <li>
                <el-badge :value="totalCount" class="item">
                  <el-button :icon="ShoppingCart" />
                </el-badge>
              </li>
            </ul>
          </el-col>
        </el-row>
      </div>

      <el-drawer v-model="drawer" title="I am the title" :with-header="false">
        <h3 class="title">GIỎ HÀNG</h3>
        <div class="list-cart">
          <el-row style="align-items: center" v-for="item in cart">
            <el-col :md="5">
              <router-link @click="drawer = false" style="text-decoration: none;" class="link"  :to="{ name: 'Sản phẩm', params: { id: item.sanpham_id } }">
                <img
                  style="width: 100%; height: 60px; object-fit: cover"
                  :src="url+'storage/'+ item.hinhanh"
                />
              </router-link>
            </el-col>
            <el-col :md="15">
              <router-link @click="drawer = false" class="link" :to="{ name: 'Sản phẩm', params: { id: item.sanpham_id } }">
                <div class="list-cart-body">
                  <h5 >{{ item.name }}</h5>
                  <p style="color: #333333;">{{ item.quantity }} x {{ item.price }}</p>
                </div>
              </router-link>
            </el-col>
            <el-col :md="4">
              <a>
                <el-button :icon="CircleClose" />
              </a>
            </el-col>
          </el-row>
        </div>

        <div class="total-price">
          <strong>Tổng số phụ:   {{ totalCart }}đ</strong>
        </div>
        <hr />
        <router-link @click="drawer=false" :to="{ name: 'Giỏ hàng' }">
          <button class="view-cart">Xem giỏ hàng</button>
        </router-link>
        <router-link @click="drawer=false" :to="{ name: 'Thanh toán' }">
          <button class="bank">thanh toán</button>
        </router-link>
      </el-drawer>
      <nav class="mega-menu" :class="{ show: isNavVisible }">
        <ul class="menu">
          <li class="active">
            <a class="link"
              >danh mục ấn phẩm <el-button :icon="ArrowDownBold"></el-button
            ></a>
            <div class="sub-menu">
              <category></category>
            </div>
          </li>
          <li>
            <router-link    :to="{ name: 'Danh Mục sản phẩm', params: { id: 1} }" class="link" 
              >
              ấn phẩm văn phòng <el-button :icon="ArrowDownBold"></el-button
            >
          </router-link>
            <div class="sub-menu">
              <div class="sub-content">
                <div class="menu-column">
                  <img
                    style="width: 100%; height: 250px; object-fit: cover"
                    src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_tin_imagebanner_20191030090811130-1.jpg"
                  />
                  <div class="box-text">
                    <h4>IN KỸ THUẬT SỐ LẤY NGAY</h4>
                    <el-text class="mx-1" type="info"
                      >Tiết kiệm chi phí, lấy ngay sau 30 phút</el-text
                    >
                    <br />
                    <el-text class="mx-1" type="danger"
                      >Giá rẻ nhất thị trường</el-text
                    >
                  </div>
                </div>
                <div class="menu-column">
                  <h3 class="title">Danh thiếp</h3>
                  <hr />
                  <ul
                    v-for="product in listNav.filter((item) => {
                      if (item.danhmuc_cap2_id === 4) {
                        return item;
                      } else {
                        return false;
                      }
                    })"
                  >
                    <li>
                      <router-link
                        :to="{ name: 'Sản phẩm', params: { id: product.id } }"
                      >
                        <a href="" class="link-sub">{{ product.name }}</a>
                      </router-link>
                    </li>
                  </ul>
                </div>
                <div class="menu-column">
                  <h3 class="title">Bìa đựng</h3>
                  <hr />
                  <ul
                    v-for="product in listNav.filter((item) => {
                      if (item.danhmuc_cap2_id === 3) {
                        return item;
                      } else {
                        return false;
                      }
                    })"
                  >
                    <li>
                      <router-link
                        :to="{ name: 'Sản phẩm', params: { id: product.id } }"
                      >
                        <a href="" class="link-sub">{{ product.name }}</a>
                      </router-link>
                    </li>
                  </ul>
                </div>

                <div class="menu-column">
                  <h3 class="title">Bao Thư</h3>
                  <hr />
                  <ul
                    v-for="product in listNav.filter((item) => {
                      if (item.danhmuc_cap2_id === 5) {
                        return item;
                      } else {
                        return false;
                      }
                    })"
                  >
                    <li>
                      <router-link
                        :to="{ name: 'Sản phẩm', params: { id: product.id } }"
                      >
                        <a href="" class="link-sub">{{ product.name }}</a>
                      </router-link>
                    </li>
                  </ul>
                </div>

                <div class="menu-column">
                  <h3 class="title">Giấy tiêu đề</h3>
                  <hr />
                  <ul
                    v-for="product in listNav.filter((item) => {
                      if (item.danhmuc_cap2_id === 6) {
                        return item;
                      } else {
                        return false;
                      }
                    })"
                  >
                    <li>
                      <router-link
                        :to="{ name: 'Sản phẩm', params: { id: product.id } }"
                      >
                        <a href="" class="link-sub">{{ product.name }}</a>
                      </router-link>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <router-link    :to="{ name: 'Danh Mục sản phẩm', params: { id: 2 } }" class="link" 
              >
              ấn phẩm tiếp thị <el-button :icon="ArrowDownBold"></el-button
            ></router-link>
            <div class="sub-menu">
              <div class="sub-content">
                <div class="menu-column">
                  <img
                    style="width: 100%; height: 250px; object-fit: cover"
                    src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_tin_imagebanner_20191030090811130-1.jpg"
                  />
                  <div class="box-text">
                    <h4>IN KỸ THUẬT SỐ LẤY NGAY</h4>
                    <el-text class="mx-1" type="info"
                      >Tiết kiệm chi phí, lấy ngay sau 30 phút</el-text
                    >
                    <br />
                    <el-text class="mx-1" type="danger"
                      >Giá rẻ nhất thị trường</el-text
                    >
                  </div>
                </div>
                <div class="menu-column">
                  <h3 class="title">Vé</h3>
                  <hr />
                  <ul
                    v-for="product in listNav.filter((item) => {
                      if (item.danhmuc_cap2_id === 5) {
                        return item;
                      } else {
                        return false;
                      }
                    })"
                  >
                    <li>
                      <router-link
                        :to="{ name: 'Sản phẩm', params: { id: product.id } }"
                      >
                        <a href="" class="link-sub">{{ product.name }}</a>
                      </router-link>
                    </li>
                  </ul>
                </div>
                <div class="menu-column">
                  <h3 class="title">Tờ rơi</h3>
                  <hr />
                  <ul
                    v-for="product in listNav.filter((item) => {
                      if (item.danhmuc_cap2_id === 6) {
                        return item;
                      } else {
                        return false;
                      }
                    })"
                  >
                    <li>
                      <router-link
                        :to="{ name: 'Sản phẩm', params: { id: product.id } }"
                      >
                        <a href="" class="link-sub">{{ product.name }}</a>
                      </router-link>
                    </li>
                  </ul>
                </div>

                <div class="menu-column">
                  <h3 class="title">Tờ gấp</h3>
                  <hr />
                  <ul
                    v-for="product in listNav.filter((item) => {
                      if (item.danhmuc_cap2_id === 7) {
                        return item;
                      } else {
                        return false;
                      }
                    })"
                  >
                    <li>
                      <router-link
                        :to="{ name: 'Sản phẩm', params: { id: product.id } }"
                      >
                        <a href="" class="link-sub">{{ product.name }}</a>
                      </router-link>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <router-link    :to="{ name: 'Danh Mục sản phẩm', params: { id: 3} }" class="link" 
              >
              ấn phẩm bao bì <el-button :icon="ArrowDownBold"></el-button
            ></router-link>
            <div class="sub-menu">
              <div class="sub-content">
                <div class="menu-column">
                  <img
                    style="width: 100%; height: 250px; object-fit: cover"
                    src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_tin_imagebanner_20191030090811130-1.jpg"
                  />
                  <div class="box-text">
                    <h4>IN NHANH CHUYÊN NGHIỆP</h4>
                    <el-text class="mx-1" type="info"
                      >Giá ưu đãi, duyệt file nhanh chóng</el-text
                    >
                    <br />
                  </div>
                </div>
                <div class="menu-column">
                  <h3 class="title">Mác sản phẩm</h3>
                  <hr />
                  <ul
                    v-for="product in listNav.filter((item) => {
                      if (item.danhmuc_cap2_id === 11) {
                        return item;
                      } else {
                        return false;
                      }
                    })"
                  >
                    <li>
                      <router-link
                        :to="{ name: 'Sản phẩm', params: { id: product.id } }"
                      >
                        <a href="" class="link-sub">{{ product.name }}</a>
                      </router-link>
                    </li>
                  </ul>
                </div>
                <div class="menu-column">
                  <h3 class="title">Nhựa</h3>
                  <hr />
                  <ul
                    v-for="product in listNav.filter((item) => {
                      if (item.danhmuc_cap2_id === 12) {
                        return item;
                      } else {
                        return false;
                      }
                    })"
                  >
                    <li>
                      <router-link
                        :to="{ name: 'Sản phẩm', params: { id: product.id } }"
                      >
                        <a href="" class="link-sub">{{ product.name }}</a>
                      </router-link>
                    </li>
                  </ul>
                </div>

                <!-- <div class="menu-column">
                        <h3 class="title">Giấy ghi chú - Block Notes</h3>
                        <hr>
                        <ul>
                          <li><a href="#" class="link-sub">Danh thiếp chuẩn</a></li>
                            <li><a href="#" class="link-sub">Danh Thiếp Giấy Mỹ Thuật </a></li>
                            <li><a href="#" class="link-sub">Danh Thiếp giấy nhựa</a></li>
                            <li><a href="#" class="link-sub">Danh Thiếp Không Cán Màng</a></li>
                            <li><a href="#" class="link-sub">Danh Thiếp Bo Góc Chuẩn</a></li>
                            <li><a href="#" class="link-sub">Danh Thiếp Ép Kim</a></li>
                        </ul>
                    </div> -->
              </div>
            </div>
          </li>
          <li>
            <router-link    :to="{ name: 'Danh Mục sản phẩm', params: { id: 4} }" class="link" 
              >
              ấn phẩm khác <el-button :icon="ArrowDownBold"></el-button
            ></router-link>
            <div class="sub-menu">
              <div class="sub-content">
                <div class="menu-column">
                  <img
                    style="width: 100%; height: 250px; object-fit: cover"
                    src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_tin_imagebanner_20191030090811130-1.jpg"
                  />
                  <div class="box-text">
                    <h4>IN KỸ THUẬT SỐ LẤY NGAY</h4>
                    <el-text class="mx-1" type="info"
                      >Tiết kiệm chi phí, lấy ngay sau 30 phút</el-text
                    >
                    <br />
                    <el-text class="mx-1" type="danger"
                      >Giá rẻ nhất thị trường</el-text
                    >
                  </div>
                </div>
                <div class="menu-column">
                  <h3 class="title">Thẻ nhựa</h3>
                  <hr />
                  <ul
                    v-for="product in listNav.filter((item) => {
                      if (item.danhmuc_cap2_id === 15) {
                        return item;
                      } else {
                        return false;
                      }
                    })"
                  >
                    <li>
                      <router-link
                        :to="{ name: 'Sản phẩm', params: { id: product.id } }"
                      >
                        <a href="" class="link-sub">{{ product.name }}</a>
                      </router-link>
                    </li>
                  </ul>
                </div>
                <div class="menu-column">
                  <h3 class="title">Thực đơn</h3>
                  <hr />
                  <ul
                    v-for="product in listNav.filter((item) => {
                      if (item.danhmuc_cap2_id === 18) {
                        return item;
                      } else {
                        return false;
                      }
                    })"
                  >
                    <li>
                      <router-link
                        :to="{ name: 'Sản phẩm', params: { id: product.id } }"
                      >
                        <a href="" class="link-sub">{{ product.name }}</a>
                      </router-link>
                    </li>
                  </ul>
                </div>

                <div class="menu-column">
                  <h3 class="title">Thư viện mẫu</h3>
                  <hr />
                  <ul
                    v-for="product in listNav.filter((item) => {
                      if (item.danhmuc_cap2_id === 17) {
                        return item;
                      } else {
                        return false;
                      }
                    })"
                  >
                    <li>
                      <router-link
                        :to="{ name: 'Sản phẩm', params: { id: product.id } }"
                      >
                        <a href="" class="link-sub">{{ product.name }}</a>
                      </router-link>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="# " class="link">
              <img
                src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/kehoachin.png"
              />
            </a>  
          </li>
        </ul>
      </nav>
    </header>
  </div>
</template>

<script>
import {
  Search,
  ShoppingCart,
  CircleClose,
  ArrowDownBold,
  Expand,
} from "@element-plus/icons-vue";
import { onMounted, ref } from "vue";
import Category from "../components/Category.vue";
import Notificion from "../components/Notificion.vue";

import axios from "../axios";
import { computed } from "vue";
import { useNotificationStore } from "../stores/Notificion";
import { ElNotification } from "element-plus";
import { useUserStore } from "../stores/User";
import { useCartStore } from "../stores/Cart";
import { useSearchStore } from "../stores/Search";


// const form = reactive({
//   email: '',
//   password: '',

// })

export default {
  components: {
    Category,
    Notificion,
  },
  data() {
    return {
      drawer: false,
      Search,
      ShoppingCart,
      CircleClose,
      ArrowDownBold,
      Expand,
      input:'',
      localStorage: window.localStorage,
      user: { data: { name: "" } },
      isNavVisible: false,
      list: {
        cot1: [],
        cot2: [],
        cot3: [],
        cot4: [],
      },
      circleUrl: 'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png',
      listNav: [],
      form: {
        email: "",
        password: "",
      },
      url: import.meta.env.VITE_APP_URL,

      centerDialogVisible: false,
      hinhanh:''
    };
  },
  setup() {
    const user = useUserStore();
    const cartStore = useCartStore();

    const isLoggedIn = computed(() => user.crential);
    const cart = computed(() => cartStore.cart);
    const totalCart = computed(() => cartStore.cart.reduce((a,b)=>a + (b.quantity * b.price),0));
    const totalCount = computed(() => cartStore.cart.reduce((a,b)=>a + b.quantity,0));

    const isLoading  = computed(() => cartStore.loading)

    return {
      isLoggedIn,
      cart,
      totalCart,
      totalCount,
      isLoading
    };


   
  },

  mounted() {

    window.addEventListener("scroll", this.handleScroll);
    this.getCategory();
    this.getCartUser()
    this.getUser()
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.handleScroll);
  },

  methods: {

    updateSearchQuery(e) {
      const search = useSearchStore()
       search.setKey(e.target.value)
    },

    // onclickSearchQuery(e) {
    //   console.log(e)
    //   this.$router.push('/search');

    // },
    handleScroll() {
      // Khi bạn cuộn trang, kiểm tra vị trí và hiển thị thanh điều hướng từ từ
      if (window.scrollY > 200) {
        this.isNavVisible = true;
      } else {
        this.isNavVisible = false;
      }
    },

    logOut() {
      const user = useUserStore();
      let userlocal = JSON.parse(this.localStorage.getItem('user')).role;
      if(userlocal ===2){
        this.$router.push('/')
       }
      user.logout();     
      // this.user = { data: { name: "" } };
      ElNotification({
        title: "Đăng xuất thành công",
        // message: 'This is a success message',
        type: "success",
      });
    },

    async onSubmit() {
      const user = useUserStore();

      let formData = new FormData();
      formData.append("email", this.form.email);
      formData.append("password", this.form.password);

      try {
        let res = await axios.post("login", formData);
        if (res.status === 200) {
          ElNotification({
            title: "Đăng nhập thành công",
            // message: 'This is a success message',
            type: "success",
          });
          this.centerDialogVisible = false;
          localStorage.setItem("token", res.data.token);
          localStorage.setItem("user", JSON.stringify(res.data.data));
          this.user = res.data.data;
          if(res.data.data.role ===1){
            this.$router.push('/admin')
          }
          user.setLogin(res.data);
        } else {
          ElNotification({
            title: "Tài khoản hoặc mật khẩu không đúng",
            // message: 'This is a success message',
            type: "error",
          });
        }
      } catch (error) {
        console.log(error);
        ElNotification({
          title: "Tài khoản hoặc mật khẩu không đúng",
          // message: 'This is a success message',
          type: "error",
        });
      }
    },

    async getCategory() {
      try {
        let res = await axios.get("danh-muc");
        let res1 = await axios.get("san-pham-by-category");

        if (res1.status === 200) {
          this.listNav = res1.data;
        }
        if (res.status === 200) {
          const data = res.data;
          data.filter((item) => {
            if (item.danhmuc_cap1_id == 1) {
              this.list.cot1.push(item);
            } else if (item.danhmuc_cap1_id == 2) {
              this.list.cot2.push(item);
            } else if (item.danhmuc_cap1_id == 3) {
              this.list.cot3.push(item);
            } else {
              this.list.cot4.push(item);
            }
          });
        } else {
        }
      } catch (error) {
        console.log(error);
      }
    },
   
    async getUser(){
    const cart = useCartStore();

       let User = JSON.parse(this.localStorage.getItem('user'))

         if(User){
          try {
             let res = await axios.get(`accounts/${User.id}`)
            //  this.cartUser = res.data.data
            //  cart.setCart(res.data.data)
            this.hinhanh = res.data.result.user_profiles[0].hinhanh
         } catch (error) {
          console.log(error)
         }
         }else{
          return
         }

      // console.log('user',isLoggedIn)
    },
   async getCartUser(){
    const cart = useCartStore();

       let User = JSON.parse(this.localStorage.getItem('user'))

         if(User){
          try {
             let res = await axios.get(`user/${User.id}/cart`)
            //  this.cartUser = res.data.data
             cart.setCart(res.data.data)
         } catch (error) {
          console.log(error)
         }
         }else{
          return
         }

      // console.log('user',isLoggedIn)
    }
  },
};
</script>

<style scoped>
header {
  background: #171717;
  color: white;
}

.top-bar-right {
  text-align: right;
}
.top-bar .list {
  list-style: none;
}
.top-bar .list > li {
  font-size: 14px;
  display: inline-flex;
  padding: 10px;
}
.mid-bar-icon {
  background: #207f5c !important;
  border: none !important;
  outline: none !important;
  color: white !important;
  height: 40px;
}
.mid-bar-icon .el-icon {
  color: white !important;
  border: none;
  outline: none;
}

.menu li.active {
  background: #207f5c !important;
}
.menu li:last-child {
  margin-left: auto;
}
.menu li:last-child img {
  height: 44px;
  max-width: 172px;
}
.menu li.active a {
  color: white;
}
.menu li.active:hover a {
  color: white;
}

.mid-bar .cart-gio {
  display: inline-flex;
  list-style: none;
  cursor: pointer;
}
.mid-bar .cart-gio .el-icon {
  font-size: 30px;
  color: white;
}

.mega-menu {
  background-color: white;
  position: relative;
  box-shadow: 2px 2px 5px #00000014;
  transition: top 0.3s;
}

.mega-menu.show {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  color: #fff;
  transition: top 1s linear;
  z-index: 1000;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.el-badge .el-button {
  font-size: 30px !important;
}
.menu li {
}
.link .el-button {
  border: none !important;
  background: white;
  padding: 0;
}
.active .link .el-button {
  background: none;
  color: white;
}
.link{
  text-decoration: none !important;
}
.link .el-button:hover {
  color: #207f5c;
}
.menu .link {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  text-transform: uppercase;
  color: #0a0a0a;
  transition: all 0.7s linear;
  font-size: 16px;
}
.menu li:last-child a {
  padding: 0;
}
.menu li:hover .sub-menu {
  display: block;
}
.menu li:hover .sub-content {
  display: flex;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  z-index: 2;
  flex-wrap: wrap;
}
.menu li:hover > .link {
  color: #207f5c;
}
.menu-column {
  flex: 1;
  padding: 20px;
}

.menu-column h3 {
  color: black;
}

.menu-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-column ul li {
  margin-bottom: 5px;
}

.menu-column ul li a {
  color: #fff;
  text-decoration: none;
}

.menu-column ul li a:hover {
  text-decoration: underline;
}

.el-drawer__body {
  color: black;
  text-align: center;
}
.el-drawer__body h3 {
  font-weight: bold;
}

.list-cart-body {
  text-align: left;
}
.list-cart a {
  cursor: pointer;
}
.list-cart-body h5 {
  color: #207f5c;
  font-size: 16px;
  font-weight: bold;
}
.list-cart-body {
  padding: 0 10px;
}
.list > li{
  transition: all .8s;
  cursor: pointer;
}
.list{
  display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}
.list > li:hover{
   
   color: #207f5c;
}
.list-cart a:hover h5 {
  color: #ff9b05;
}

.cart-gio .el-button {
  background: none;
  border: none;
  padding: 0;
}

.cart-gio .el-button:hover {
  color: #207f5c;
}

.total-price {
  margin: 20px 0;
  text-align: center;
}
.total-price strong {
  font-weight: bold;
  color: black;
}
.view-cart {
  background: #207f5c;
  color: white;
  width: 100%;
  margin: 0.5em 0 0;
  border: none;
  padding: 12px 0;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

.view-cart:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
}
.bank {
  background: #eea236;
  color: white;
  width: 100%;
  margin: 0.5em 0 0;
  border: none;
  padding: 12px 0;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}
.bank:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
}
.box-text {
  text-align: center;
}
.box-text h4 {
  color: black;
}

.menu-column .title {
  color: #207f5c;
}
.menu-column .link-sub {
  font-size: 14px;
  color: #333333;
  transition: all 0.8s;
}
.menu-column .link-sub:hover {
  color: #207f5c;
}

.card {
  padding: 0 !important;
}

.el-col {
  padding: 0 10px;
}

.btn-login {
  background-color: #207f5c;
  color: white;
  width: 100%;
  margin-top: 10px;
}

@media screen and (max-width: 769px) {
  .top-bar-right {
    display: none;
  }

  .mid-bar-logo {
    display: none;
  }
  .mid-bar-search {
    display: none !important;
  }
  .mid-bar {
    padding-bottom: 20px;
  }

  .mega-menu {
    display: none;
  }
  .create-cv {
    text-align: center;
  }

  .create-cv img {
    width: 35%;
    height: 44px;
  }
  .cart-gio li:first-child {
    display: none;
  }

  .cot-cart {
    justify-content: right !important;
  }
}

@media screen and (min-width: 769px) {
  .icon-menubar {
    display: none;
  }
  .create-cv {
    display: none;
  }
}
</style>
