  
 <script >
 import Header from './Header.vue';
 import Footer from './Footer.vue';
 import { Transition } from 'vue';
 import { ref } from 'vue';
     export default{
        components: {
    Header,
    Footer,
  },
        setup() {
    const show = ref(false);

    const beforeRouteEnter = (to, from, next) => {
      console.log('beforeRouteEnter - Setting show to true');
      show.value = true;
      next();
    };

    const beforeRouteLeave = (to, from, next) => {
      console.log('beforeRouteLeave - Setting show to false');
      show.value = false;
      next();
    };

    return {
      show,
      beforeRouteEnter,
      beforeRouteLeave,
    };
  },
  
     }
</script>

 <template>
    <div>
        <Header />
               <main>
                <Transition  name="fade">
                    <router-view ></router-view>
                </Transition>

               </main>
         <Footer />
    </div>
 </template>

 <style>
 main{
     background-color: #f5f5f5;

 }
 .fade-enter-active,
.fade-leave-active {
    transition: transform .5s ease-in-out;
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active trong <2.1.8 */
    {
    opacity: 0;
}

 </style>