<script >
import { RouterLink, RouterView } from 'vue-router'
import MasterLayout from './layouts/MasterLayout.vue'
import MasterlayoutAdmin from './Admin/layouts/MasterlayoutAdmin.vue'

import { useUserStore } from './stores/User';
import {computed} from 'vue'


// export default{

//    mounted() {
      
//    },
// }



  export default{
    setup() {
        const user = useUserStore();
        
        const isLoggedIn = computed(() => user?.crential?.data?.role || JSON.parse(localStorage.getItem("user"))?.role);
      //   if (localStorage.getItem("user")) {
      //       user.setLogin(JSON.parse(localStorage.getItem("user")));
      //       if(JSON.parse(localStorage.getItem("user"))?.role==2){
      //          this.$router.push('/admin')
      //       }else{
      //          // this.$router.push('/')
      //       }
      //   }
        return {
            isLoggedIn
        };
    },
    components: { MasterLayout,MasterlayoutAdmin },

   created(){
   if(localStorage.getItem("user") !=false){
         let items= JSON.parse(localStorage.getItem('user'))
      const user = useUserStore();

      user.setLogin(items);
   }
   },
    mounted(){
      // console.log(JSON.parse(localStorage.getItem("user")))
      if(JSON.parse(localStorage.getItem("user"))?.role==1){
               // this.$router.push('/admin')
            }else{
               // this.$router.push('/')
            }
    }
}
  


</script>

<template >
   <!-- {{ localStorage.getItem("user") }} -->
    <div v-if="isLoggedIn && isLoggedIn==2">
      
      <MasterLayout />
    </div>
    <div v-else-if="isLoggedIn==1">

      <!-- {{     this.$router.push('/admin') ? this.$router.push('/admin') :"" }} -->
      <MasterlayoutAdmin/>
 </div>
    <div v-else-if="!isLoggedIn || isLoggedIn==1">
       <!-- {{ console.log(isLoggedIn) }} -->
      <MasterLayout />
    </div>
</template>


<style>
/* @import '~@ckeditor/ckeditor5-build-classic/build/ckeditor.css'; */
   /* .el-col{
      padding: 0 10px;
   } */
</style>
