<template>
    <div class="info">
        <el-row>
            <el-col :md="4" style="text-align: center;">
                <el-avatar :size="80" src="https://empty" @error="errorHandler">
                    <img style="object-fit: cover;"
                        :src="this.hinhanh !== false ? url + 'storage/' + this.hinhanh : this.circleUrl" />
                </el-avatar>
            </el-col>
            <el-col :md="24">
                <el-tabs tab-position="left" class="demo-tabs">
                    <el-tab-pane label="Thông tin">
                        <el-form label-position="top" label-width="100px" style="max-width: 100%">
                            <el-form-item label="Họ và tên">
                                <el-input v-model="this.user.name" />
                            </el-form-item>
                            <el-form-item label="Hình ảnh">
                                <input type="file" ref="fileInput" @change="handleFileChange" />
                            </el-form-item>
                            <el-form-item label="Địa chỉ">
                                <el-input v-model="this.user.address" />
                            </el-form-item>
                            <el-form-item label="Số điện thoại">
                                <el-input v-model="this.user.phone" />
                            </el-form-item>

                            <el-button type="primary" @click="updateInfo(this.user)">
                                Cập nhật
                            </el-button>

                        </el-form>

                    </el-tab-pane>
                    <el-tab-pane label="Đơn hàng của bạn">

                        <el-table :data="this.user.order" style="width: 100%">
                            <el-table-column prop="date" label="STT" width="180">
                                <template #default="scope">
                                    {{ scope.$index + 1 }}
                                </template>
                            </el-table-column>
                            <el-table-column prop="this.user.order" label="Sản phẩm đã đặt" width="380">
                                <template #default="scope">
                                    <strong style="font-weight: bold;color: #207f5c;">
                                        {{ scope.row.orderdetails.map(item => item.product_name + ' x' +
                                            item.quantity).join(', ') }}
                                    </strong>
                                </template>
                            </el-table-column>

                            <el-table-column prop="this.user.order" label="Tổng " width="180">
                                <template #default="scope">
                                    <strong>
                                        {{ new Intl.NumberFormat('vi-VN', {
                                            style: 'currency',
                                            currency: 'VND',
                                        }).format(scope.row.orderdetails.reduce((a, b) => a + (b.total_price * b.quantity),
                                            0)) }}
                                    </strong>

                                </template>
                            </el-table-column>
                            <el-table-column label="Trạng thái đơn hàng">
                                <template #default="scope">
                                    <el-tag :type="scope.row.status === 'completed' ? 'success' : ''" disable-transitions>
                                        {{ scope.row.status }}

                                    </el-tag>
                                </template>
                            </el-table-column>
                        </el-table>


                    </el-tab-pane>

                </el-tabs>
            </el-col>
        </el-row>
    </div>
</template>



<script>
import { ElNotification } from 'element-plus'
import axios from '../axios'
import { reactive, toRefs } from 'vue'


export default {

    data() {

        return {
            user: '',
            url: import.meta.env.VITE_APP_URL,
            hinhanh: '',
            selectedFile: null,
            circleUrl: 'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'
        }
    },
    mounted() {
        this.getOrder()

    },

    methods: {
        handleFileChange(event) {
            const file = event.target.files[0];
            // Lưu trữ thông tin file hoặc thực hiện các xử lý khác ở đây
            this.selectedFile = file;
        },
        async updateInfo(user) {
            let id = JSON.parse(localStorage.getItem('user')).id

            let formdata = new FormData()
            formdata.append('name', user.name)
            formdata.append('address', user.address)

            formdata.append('hinhanh', this.selectedFile)
            formdata.append('phone', user.phone)
            try {
                let res = await axios.post(`accounts/${id}`, formdata);
                if (res.status === 200) {
                    this.getOrder()
                    this.selectedFile = null;
                    ElNotification({
                        title: res.data.message,
                        // message: 'This is a success message',
                        type: "success",
                    });
                }
                // this.user = res.data.result
            } catch (error) {
                console.log(error)
                ElNotification({
                    title: 'Cập nhật thất bại',
                    // message: 'This is a success message',
                    type: "error",
                });
            }
        },


        async getOrder() {
            let id = JSON.parse(localStorage.getItem('user')).id
            try {
                let res = await axios.get(`accounts/${id}`);
                this.user = res.data.result
                console.log('res', res)
                this.hinhanh = res.data.result.user_profiles[0].hinhanh
            } catch (error) {
                console.log(error)
            }
        }
    }
}

</script>


<style>
.info {
    margin: 40px 0;
    padding: 0 15px;
}
</style>