<template>
  <section class="cart">
    <h5 class="title">Giỏ hàng</h5>
    <el-row>
      <el-col :md="14" class="col-product">
        <table class="custom-table">
          <thead>
            <tr>
              <th>Sản phẩm</th>
              <th>Giá</th>
              <th>Số lượng</th>
              <th>Tạm tính</th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, id) in this.listData" :key="id">
              <td>
                <div>
                  <router-link style="text-decoration: none;"  :to="{ name: 'Sản phẩm', params: { id: item.sanpham_id } }">
                     <a class="item" >
                      <img style="width: 100px;height: 80px;" :src="url + 'storage/' + item.hinhanh" />
                       <a>{{ item.name }}</a>
                     </a>
                  </router-link>
                </div>
              </td>
              <td><strong>{{ item.price }}</strong></td>
              <td>
                <el-input-number v-model="item.quantity" @change="updateCart(item.sanpham_id)" :min="1" />

              </td>
              <td><strong>{{ item.quantity * item.price }}</strong></td>
              <td>
                <el-button style="font-size: 20px;" @click="deleteCart(item.id)" :icon="CircleClose" />

              </td>

            </tr>
          </tbody>
        </table>
      </el-col>
      <el-col :md="10" class="col-cart">
        <div class="total-cart">
          <table class="custom-table">
            <thead>
              <tr>
                <th>Cộng giỏ hàng</th>
                <th></th>

              </tr>
            </thead>
            <tbody>
              <!-- <tr >
          <td>
              Tạm tính
          </td>
          

        </tr> -->
              <tr>
                <td>
                  Tổng
                </td>
                <td><strong style="font-weight: 700;">
                    {{ new Intl.NumberFormat('vi-VN', {
                      style: 'currency',
                      currency: 'VND',
                    }).format(this.listData.reduce((a, b) => a + (b.quantity * b.price), 0)) }}</strong>
                </td>


              </tr>
            </tbody>
          </table>

          <router-link @click="updateCartItem" style="text-decoration: none ;margin-top: 20px;" class="bank"
            :to="{ name: 'Thanh toán' }">
            tiến hành thanh toán
          </router-link>
        </div>
      </el-col>

      <el-col :md="24">
         <router-link to="/cua-hang">
          <button class="view">{{ '<---' }} Tiếp tục xem sản phẩm</button>
         </router-link>
      </el-col>
    </el-row>

  </section>
</template>

<script>
import { Search, ShoppingCart, CircleClose } from '@element-plus/icons-vue'
import { useCartStore } from '../stores/Cart';
import axios from '../axios'
export default {
  data() {
    return {
      CircleClose,
      num: 1,
      listData: [],
      arr: [],
      url: import.meta.env.VITE_APP_URL,

      handleChange: (value) => {
        new Intl.NumberFormat
      },

    }
  },

  mounted() {
    this.getCartUser()
  },
  methods: {
    updateCart(id) {
      let obj = this.listData.find(item => item.sanpham_id === id)
      obj.user_id = JSON.parse(localStorage.getItem('user'))?.id
      // const quantity = this.listData[id].quantity;
      this.arr.push(obj)

    },
    async deleteCart(id) {
      // let obj = this.listData.find(item=>item.sanpham_id === id)
      // obj.user_id = JSON.parse(localStorage.getItem('user'))?.id
      // // const quantity = this.listData[id].quantity;
      //  this.arr.push(obj)
      try {
        let res = await axios.delete(`cart/${id}`)
        if (res.status === 201) {
          ElNotification({
            title: "Xóa sản phẩm thành công",
            // message: 'This is a success message',
            type: "success",
          });
          this.getCartUser()
        }
      } catch (error) {
        console.log(error)
      }
    },

    async updateCartItem() {
      let parseArr = Array.from(new Set(this.arr));
      try {
        let res = await axios.post('cart', { data: parseArr })
      } catch (error) {
        console.log(error)
      }
    },
    // Chuyển đổi số thành chuỗi tiền tệ
    async getCartUser() {
      const cart = useCartStore();

      let User = JSON.parse(localStorage.getItem('user'))
      try {
        let res = await axios.get(`user/${User.id}/cart`)
        //  this.cartUser = res.data.data
        //  cart.setCart(res.data.data)
        this.listData = res.data.data



      } catch (error) {
        console.log(error)

      }

      // console.log('user',isLoggedIn)
    }
  }
}
</script>

<style>
.cart {
  padding: 20px;
}

.cart .title {
  margin-bottom: 15px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 20px;
  font-weight: normal;
  color: #207f5c;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item a {
  color: #207f5c;
  cursor: pointer;
}

.item img {
  cursor: pointer;
}

.item a:hover {
  color: #eea236;
}

/* Thiết lập kiểu cho hàng đầu (thead) */
.custom-table thead {
  color: black;
  font-weight: bold;
}

/* Thiết lập kiểu cho các ô (th) */
.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Màu nền xen kẽ cho hàng (odd và even) */
.custom-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Đổi màu khi di chuột vào hàng (hover) */
.custom-table tbody tr:hover {
  background-color: #ddd;
}

.col-product {
  padding: 20px;
}

.col-cart {
  background-color: white;
  padding: 20px;
}

.bank {
  background-color: #eea236;
  cursor: pointer;
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  border: none;
}

.bank:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, .2);

}

.view {
  border: 2px solid #207f5c;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #207f5c;
  cursor: pointer;
  transition: all .8s;
}

.view:hover {
  background: #207f5c;
  color: white;
}
</style>