<template>
  <section class="detail-product">
    <div class="detail-product-content">
      <el-row>
        <el-col :md="9" :sm="9">
          <img
            style="width: 100%"
            :src="url + 'storage/' + this?.objData?.hinhanh"
          />
        </el-col>
        <el-col :md="10" :sm="10" style="padding: 0 20px">
          <div class="product-detail-card">
            <h5 class="title">{{ this?.objData?.name }}</h5>
            <p class="rate" v-if="this.listComments.length>0">
              <el-rate
                        v-model="five"
                        disabled
                        text-color="#ff9900"
                      />
                      <el-text>{{ getRate() }}</el-text>
            </p>
            <p v-else></p>
            <div class="price">
              <span>{{new Intl.NumberFormat('vi-VN', {
                      style: 'currency',
                      currency: 'VND',
                    }).format(this?.objData?.price)  }}</span>
            </div>
            <div class="desc">
              <p v-html="this?.objData?.content"></p>
            </div>
            <div class="add">
              <el-input-number v-model="num" :min="1" />
              <el-button @click="addToCard" :loading="loading" class="add-cart"
                >Thêm vào giỏ hàng</el-button
              >
            </div>
            <div class="ghi-chu">
              <i>- Để tiến hành in ấn chúng ta cần chuẩn bị file Thiết Kế</i
              ><br />
              <i>+ Nếu đã có, bạn có thể tham khảo cách xuất file để in ấn.</i
              ><br />
              <i
                >+ Nếu chưa có, bạn có thể tham khảo Dịch Vụ Thiết Kế của chúng
                tôi.</i
              ><br /><i
                >- Thời gian Thành Phẩm được tính từ khi bạn Xác nhận + Đặt cọc
                và chưa bao gồm thời gian Giao hàng.</i
              >
              <br />
              <i>- Giá trên chưa bao gồm 10% VAT.</i>
              <i>(Giá trên chưa bao gồm chi phí khung)</i>
              <!-- <i>(*) Thời gian trên chưa bao gồm thời gian giao hàng 1 buổi - 1 ngày  </i><br> -->
              <!-- <i>(Một hộp card gồm 90 - 100 cards) </i> -->
              <i>(Mỗi combo gồm 12 bao lì xì với 6 mẫu)</i>
              <i>(Vùng in giới hạn, không thể in lên nắp bao thư)</i>
            </div>
          </div>
        </el-col>
        <el-col :md="5" :sm="5" class="product-detail-sidebar">
          <div>
            <el-row>
              <el-col :md="24">
                <el-row :gutter="10">
                  <el-col :md="6" :sm="6">
                    <img
                      style="width: 100%"
                      src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/5ngay.png"
                    />
                  </el-col>
                  <el-col :md="18" :sm="18">
                    <h5>Đảm bảo 100% hài lòng</h5>
                    <p class="sdt">
                      Với 5 ngày đổi trả hàng nếu lỗi do sản xuất
                    </p>
                  </el-col>
                </el-row>
              </el-col>

              <el-col :md="24" style="margin: 20px 0px">
                <el-row :gutter="10">
                  <el-col :md="6" :sm="6">
                    <img
                      style="width: 100%"
                      src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/giaohang.png"
                    />
                  </el-col>
                  <el-col :md="18" :sm="18">
                    <h5>Giao hàng miễn phí</h5>
                    <p class="sdt">Áp dụng cho các đơn hàng nội thành</p>
                  </el-col>
                </el-row>
              </el-col>

              <el-col :md="24">
                <el-row :gutter="10">
                  <el-col :md="6" :sm="6">
                    <img
                      style="width: 100%"
                      src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/printnow.png"
                    />
                  </el-col>
                  <el-col :md="18" :sm="18">
                    <h5>PrintNow 2H</h5>
                    <p class="sdt">Áp dụng cho các đơn hàng in nhanh</p>
                  </el-col>
                </el-row>
              </el-col>
            </el-row>
          </div>

          <div>
            <el-row>
              <el-col md:24>
                <h2>tư vấn và đặt hàng</h2>
              </el-col>
              <el-col :md="24" :sm="24">
                <el-row :gutter="10">
                  <el-col :md="6" :sm="6">
                    <img
                      style="width: 100%"
                      src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_avatarz_20200819140800338IMG_0687.jpg"
                    />
                  </el-col>
                  <el-col :md="18" :sm="18">
                    <h5>Ngọc Trâm</h5>
                    <p class="sdt">0972939xxx</p>
                    <p class="sdt">info@gmail.com</p>
                  </el-col>
                </el-row>
              </el-col>

              <el-col :md="24" style="margin: 20px 0px">
                <el-row :gutter="10">
                  <el-col :md="6" :sm="6">
                    <img
                      style="width: 100%"
                      src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_avatarz_20200819141452343IMG_0698.jpg"
                    />
                  </el-col>
                  <el-col :md="18" :sm="18">
                    <h5>Khánh Hòa</h5>
                    <p class="sdt">0972939xxx</p>
                    <p class="sdt">info@gmail.com</p>
                  </el-col>
                </el-row>
              </el-col>

              <el-col :md="24">
                <el-row :gutter="10">
                  <el-col :md="6" :sm="6">
                    <img
                      style="width: 100%"
                      src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_avatarz_20181020170922464rt-01.jpg"
                    />
                  </el-col>
                  <el-col :md="18" :sm="18">
                    <h5>Trịnh Thị Minh</h5>
                    <p class="sdt">0972939xxx</p>
                    <p class="sdt">info@gmail.com</p>
                  </el-col>
                </el-row>
              </el-col>
            </el-row>
          </div>
        </el-col>
      </el-row>
    </div>

    <div class="product-footer">
      <el-tabs v-model="activeName" class="demo-tabs" @tab-click="handleClick">
        <el-tab-pane label="MÔ TẢ" name="first">
          <p v-html="this?.objData?.description"></p>

        </el-tab-pane>
        <el-tab-pane :label="stringComment()" name="second">
          <div class="form-review">
            <div class="content-review">
              <el-row>
                <el-col style="margin: 10px 0;  border-bottom: 1px solid #6b778c" :md="24" v-for="item in this.listComments" :key="item.id">
                  <div >
                    <strong class="author">{{ item.user.name }}</strong>
                    <div class="review-rate">
                      <el-rate
                        v-model="item.rate"
                        disabled
                        text-color="#ff9900"
                      />

                      <p>{{ item.content }}</p>
                    </div>

                    <div>
                      <el-text
                        style="font-weight: 500; cursor: pointer"
                        type="primary"
                        >Thảo luận
                        <span class="date"> {{ new Date(item.created_at).getDate() }} - {{ new Date(item.created_at).getMonth() }} - {{ new Date(item.created_at).getFullYear() }}</span></el-text
                      >
                    </div>
                  </div>
                </el-col>
              </el-row>
            </div>
            <h2>Gửi nhận xét của bạn</h2>

            <el-form-item label=" 1.Đánh giá của bạn về nhận xét này">
              <el-rate v-model="star"/>
            </el-form-item>
            <el-text class="mx-1" tag="b" type="danger"
              >*Vui lòng đánh giá trước khi gửi</el-text
            >

            <el-form
              label-position="top"
              label-width="100px"
              style="max-width: 100%"
            >
              <el-form-item label="2. Nhận xét của bạn bên dưới">
                <el-input
                  placeholder="Nhận xét của bạn về sản phẩm này"
                  type="textarea"
                  v-model="this.content"
                />
              </el-form-item>

              <el-form-item>
                <el-button class="btn-comment" @click="addComment">Gửi nhận xét</el-button>
              </el-form-item>
            </el-form>
            <!-- <form>
              <el-row>
                <el-col :md="4">
                  <label>Nội dung</label>
                </el-col>
                <el-col :md="20">
                  <input />
                </el-col>
                <el-col :md="4">
                  <label>Họ tên</label>
                </el-col>
                <el-col :md="20">
                  <input />
                </el-col>
              </el-row>
            </form> -->
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </section>

  <section class="thuvien">
      <div class="thuvien-content">

        <h5 class="thuvien-title">
          danh sách sản phẩm liên quan
        </h5>
        <swiper :slidesPerView="4" :spaceBetween="18" :pagination="{
          clickable: true,
        }" :breakpoints="{
  '300': {
    slidesPerView: 2,
    spaceBetween: 20,
  },
  '640': {
    slidesPerView: 2,
    spaceBetween: 20,
  },
  '768': {
    slidesPerView: 4,
    spaceBetween: 20,
  },
  '1024': {
    slidesPerView: 5,
    spaceBetween: 20,
  },
}" :modules="modules" class="mySwiper">

          <swiper-slide v-for="product in listProductRelated" :key="product.id">

            <router-link @click="saveScrollPosition" style="text-decoration: none;" :to="{ name: 'Sản phẩm', params: { id: product.id } }">

              <el-card :body-style="{ padding: '10px' }">
                <img :src="url + 'storage/' + product.hinhanh" class="image" :alt="product?.name" style="width: 100%;" />

                <div style="padding: 14px">
                  <a class="link">{{ product.name }}</a>
                  <div class="bottom">
                    <p class="price">{{ new Intl.NumberFormat('vi-VN', {
                      style: 'currency',
                      currency: 'VND',
                    }).format(product.price ) }}</p>
                  </div>
                </div>
              </el-card>
            </router-link>
          </swiper-slide>
        </swiper>
      </div>
    </section>
</template>

<script>
import { ElNotification } from "element-plus";
import axios from "../axios";
import Breakcum from "../components/Breakcum.vue";
import { useUserStore } from "../stores/User";
import { computed } from "vue";
import { useCartStore } from "../stores/Cart";
import { Swiper, SwiperSlide } from "swiper/vue";

export default {
  components: { Breakcum  , Swiper,
    SwiperSlide,
   },
  data() {
    return {
      activeName: "first",
      productId: null,
      objData: null,
      num: 1,
      url: import.meta.env.VITE_APP_URL,
      star: 0,
      content:'',
      five:5,
      listComments:[],
      listProductRelated:[]
      // loading:false
    };
  },
  setup() {
    const load = useCartStore();

    const isLoading = computed(() => load.loading);
    //  console.log(isLoggedIn);
    return {
      loading: isLoading,
    };
  },
  created(){
    // Thiết lập vị trí cuộn về đầu trang
    window.scrollTo(0, 0);
    // Kiểm tra xem có vị trí cuộn đã được lưu không
    const scrollPosition = localStorage.getItem('scrollPosition');
    if (scrollPosition) {
      // Nếu có, xóa nó để tránh sử dụng nó khi quay lại danh sách sản phẩm
      localStorage.removeItem('scrollPosition');
    }
  
  },
  mounted() {
    this.productId = this.$route.params.id;
    this.getIdProduct(this.$route.params.id);
    this.getComment()
    this.getProductRelated(this.$route.params.id)
  },
  watch: {
    $route(to, from) {
      // Điều kiện kiểm tra route path thay đổi
      if (to.params.id !== from.params.id) {
       this.getIdProduct(to.params.id);
        // Gọi hàm hoặc thực hiện logic cần thiết khi route path thay đổi
        //   this.handleRouteChange();
      } else {

     }
    },
  },

  methods: {
    saveScrollPosition() {
      // Lưu vị trí cuộn hiện tại vào localStorage
      localStorage.setItem('scrollPosition', window.scrollY);
      window.scrollTo(0, 0);
    },
     stringComment(){
      return 'ĐÁNH GIÁ ' + '( '+this.listComments.length +' )'
    },

    getRate (){
      return  '('+this.listComments.length +')'+' đánh giá của khách hàng '

    },

  async getComment(){
       try {
          let res = await axios.get(`comments/${this.productId}`);
          this.listComments = res.data
       } catch (error) {
        console.log(error)
       }
   },
  
  
   async addComment(){
    if(!localStorage.getItem('user')){
      ElNotification({
            title: 'Vui lòng đăng nhập để bình luận',
            // message: 'This is a success message',
            type: "error",
          });
    }
      else if(this.star===0){
        ElNotification({
            title: 'Vui lòng đánh giá sao',
            // message: 'This is a success message',
            type: "error",
          });
      }
    else{
      try {
        let user_id =JSON.parse(localStorage.getItem('user')).id
            let formData = new FormData;
               formData.append('content',this.content)
               formData.append('sanpham_id',this.objData.id)
               formData.append('user_id',user_id)
               formData.append('rate',this.star)

          let res = await axios.post('comments',formData);
        if(res.status===201){
          this.getComment()
          ElNotification({
            title: 'Bình luận thành công',
            // message: 'This is a success message',
            type: "success",
          });
        }           
       } catch (error) {
        console.log(error)
       }
    }
      
   },

    handleClick(tab, event) {
      console.log(tab, event);
    },

    async addToCard() {
      const load = useCartStore();

      try {
        //  console.log('add');

        load.addToCartLoad(true);
        let formData = new FormData();
        formData.append(
          "user_id",
          JSON.parse(localStorage.getItem("user"))?.id
        );
        formData.append("sanpham_id", this.objData.id);
        formData.append("sanpham_name", this.objData.name);
        formData.append("hinhanh", this.objData.hinhanh);
        formData.append("price", this.objData.price);
        formData.append("quantity", this.num);

        let res = await axios.post("addtocart", formData);
        if (res.status === 200) {
          load.addToCartLoad(false);
          ElNotification({
            title: res.data,
            // message: 'This is a success message',
            type: "success",
          });
          // this.$emit("cart-updated", res.data);
        } else {
          load.addToCartLoad(false);
          ElNotification({
            title: "Thêm giỏ hàng thất bại",
            // message: 'This is a success message',
            type: "error",
          });
        }
      } catch (error) {
        console.log(error);
        load.addToCartLoad(false);
        ElNotification({
          title: "Thêm giỏ hàng thất bại",
          // message: 'This is a success message',
          type: "error",
        });
      }
    },

    async getIdProduct(id) {
      try {
        let res = await axios.get(`san-pham/${id}`);
        this.objData = res.data;
      } catch (error) {
        console.log(error);
      }
    },

    async getProductRelated(id) {
      try {
        let res = await axios.get(`san-pham-related/${id}`);
         this.listProductRelated = res.data.relatedProducts
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style>
.el-rate .el-rate__icon{
  margin-right: 0;
}
.detail-product {
  padding: 0 20px;
  margin: 20px 0;
}
.detail-product-content {
  margin: 30px 0;
}
.product-detail-card h5 {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: normal;
  color: #207f5c;
}

.demo-tabs > .el-tabs__content {
  padding: 32px;
  color: #6b778c;
  font-size: 32px;
  font-weight: 600;
}
.demo-rate-block {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px var(--el-border-color);
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
}
.demo-rate-block:last-child {
  border-right: none;
}
.demo-rate-block .demonstration {
  display: block;
  color: var(--el-text-color-secondary);
  font-size: 14px;
  margin-bottom: 20px;
}
.price {
  padding: 10px 0;
  border-bottom: 1px solid #e4e4e4;
}
.price span {
  color: red;
  font-size: 18px;
  font-weight: normal;
}
.form-review {
  text-align: left;
  max-width: 50%;
  margin: 0 auto;
}
.btn-comment {
  background-color: #207f5c;
  color: white;
}
.btn-comment:hover {
  background-color: #207f5c;
  color: white;
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
}
.desc {
  font-size: 13px;
  border-bottom: 1px solid #e4e4e4;
  margin: 15px 0;
  margin-left: 15px;
}
.content-review {
  margin-bottom: 30px;
}
.rate{
  display: flex;
  align-items: center;
}
.review-rate {
  display: flex;
  align-items: center;
  gap: 10px;
}
.author {
  font-weight: bold;
}
.date {
  margin-left: 10px;
  color: #333333;
}
.add {
  display: flex;
  gap: 20px;
}

.add-cart {
  cursor: pointer;
  background: #207f5c;
  color: white;
  border: 0;
  padding: 13px 20px;
  border-radius: 4px;
  transition: all 0.7s;
  font-size: 15px;
}

.add-cart:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
}

.ghi-chu {
  margin-top: 10px;
  font-size: 12px;
  font-style: inherit;
}
.product-detail-sidebar h5 {
  margin-bottom: 0;
  font-size: 13px;
  color: #207f5c;
  font-weight: 700;
}
.product-detail-sidebar h2 {
  color: #333333;
  text-transform: uppercase;
  margin: 15px 0;
  font-weight: 700;
  font-size: 20px;
}

.el-tabs__item.is-active {
  color: #207f5c;
  font-size: 17px;
  font-weight: normal;
}
.el-tabs__item {
  font-size: 17px;
}
.el-tabs__active-bar {
  background-color: #207f5c;
}
.el-tabs__item:hover {
  color: #207f5c;
}
.demo-tabs > .el-tabs__content {
  font-size: 15px;
}

@media screen and (max-width: 992px) {
  .sdt {
    font-size: 12.8px;
  }
}

@media screen and (max-width: 768px) {
  .product-detail-sidebar {
    display: none;
  }
}
</style>
