<script >
import TheWelcome from "../components/TheWelcome.vue";
import { Navigation, Pagination, Scrollbar, A11y } from "swiper/modules";
// Import Swiper Vue.js components
import { Swiper, SwiperSlide } from "swiper/vue";
import axios from '../axios'
// Import Swiper styles
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/scrollbar";
import Category from '../components/Category.vue';
import { useProductCategoryStore } from '../stores/CategoryProduct';
import { onMounted, ref } from "vue";

export default {
  components: {
    Swiper,
    SwiperSlide,
    Category

  },
  data() {
    return {
      modules: [Navigation],
      url: import.meta.env.VITE_APP_URL,

      listProduct: [],
      listProductDanhThiep: [],
      listProductSelling: []
    };


  },
  setup() {

    // const store = useProductCategoryStore()

    //   store.fetchProductsByCategory(17);

    // return {
    //   items:store.items,
    //   store
    // }
  },
  methods: {
    saveScrollPosition() {
      // Lưu vị trí cuộn hiện tại vào localStorage
      localStorage.setItem('scrollPosition', window.scrollY);
    },
    async getApi(id) {
      try {
        const res = await axios.get(`danh-muc/${id}`);
        if (res.status == 200) {
          this.listProduct = res.data
        } else {

        }
      } catch (error) {
        console.log(error)

      }
    },

    async getApiDanhThiep(id) {
      try {
        const res = await axios.get(`danh-muc/${id}`);
        if (res.status == 200) {
          this.listProductDanhThiep = res.data
        } else {

        }
      } catch (error) {
        console.log(error)

      }
    },
    async getProductSelling() {
      try {
        const res = await axios.get(`san-pham-selling`);
        if (res.status == 200) {
          this.listProductSelling = res.data.data
        } else {

        }
      } catch (error) {
        console.log(error)

      }
    }

  },

  mounted() {


    this.getApi(19);
    this.getApiDanhThiep(4);

    this.getProductSelling();
    // getProduct()


  }
};
</script>

<template>
  <master-layout>
    <section class="slider">
      <el-row>
        <el-col :md="13" :sm="13" class="slider-left" :xs="13">
          <swiper :navigation="true" :modules="modules" :loop="true" :pagination="{
            clickable: true,
          }" class="mySwiper">
            <swiper-slide>
              <img style="width: 100%"
                src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/tgia_20220304170148459_Quoc-te-phu-nu.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img style="width: 100%"
                src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/tgia_20220301122637268_Pixefy.vn_.jpg" />
            </swiper-slide>
          </swiper>
        </el-col>
        <el-col :md="11" class="slider-right" :sm="11" :xs="11">
          <el-row>
            <el-col :md="12">
              <a>
                <img style="width: 100%"
                  src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/tgia_20211216112254224_dat-hang-in-an-online.jpg" />
              </a>
            </el-col>
            <el-col :md="12">
              <a>
                <img style="width: 100%"
                  src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_banner_20200203121651261banner4.jpg" />
              </a>
            </el-col>
            <el-col :md="12">
              <a>
                <img style="width: 100%"
                  src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_banner_20200203121703261banner2.jpg" /></a>
            </el-col>
            <el-col :md="12">
              <a>
                <img style="width: 100%"
                  src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_banner_20200203121638261banner3.jpg" />
              </a>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
    </section>

    <category></category>
    <ul>
    </ul>
    <!-- {{ 
               store.listProduct
             }} -->
    <section class="flashsale">
      <div class="flashsale-content">

        <h5 class="danhmuc-title">
          Danh thiếp
        </h5>
        <swiper :slidesPerView="4" :spaceBetween="18" :pagination="{
          clickable: true,
        }" :breakpoints="{
  '300': {
    slidesPerView: 2,
    spaceBetween: 20,
  },
  '640': {
    slidesPerView: 2,
    spaceBetween: 20,
  },
  '768': {
    slidesPerView: 4,
    spaceBetween: 20,
  },
  '1024': {
    slidesPerView: 5,
    spaceBetween: 20,
  },
}" :modules="modules" class="mySwiper">
          <swiper-slide v-for="product in this.listProductDanhThiep" :key="product.id">

            <router-link @click="saveScrollPosition" style="text-decoration: none;" :to="{ name: 'Sản phẩm', params: { id: product.id } }">

              <el-card :body-style="{ padding: '10px' }">
                <img :src="url + 'storage/' + product.hinhanh" class="image" :alt="product?.name" style="width: 100%;" />

                <div style="padding: 14px">
                  <a class="link">{{ product.name }}</a>
                  <div class="bottom">
                    <p class="price">{{ new Intl.NumberFormat('vi-VN', {
                      style: 'currency',
                      currency: 'VND',
                    }).format(product.price ) }} </p>
                  </div>
                </div>
              </el-card>
            </router-link>
          </swiper-slide>
        </swiper>
      </div>
    </section>
    <!-- {{ console.log(items) }} -->
    <!-- {{ console.log(ProductCategory.listProduct.listProduct) }} -->

    <section class="thuvien">
      <div class="thuvien-content">

        <h5 class="thuvien-title">
          thư viện mẫu
        </h5>
        <swiper :slidesPerView="4" :spaceBetween="18" :pagination="{
          clickable: true,
        }" :breakpoints="{
  '300': {
    slidesPerView: 2,
    spaceBetween: 20,
  },
  '640': {
    slidesPerView: 2,
    spaceBetween: 20,
  },
  '768': {
    slidesPerView: 4,
    spaceBetween: 20,
  },
  '1024': {
    slidesPerView: 5,
    spaceBetween: 20,
  },
}" :modules="modules" class="mySwiper">

          <swiper-slide v-for="product in listProduct" :key="product.id">

            <router-link  @click="saveScrollPosition"  style="text-decoration: none;" :to="{ name: 'Sản phẩm', params: { id: product.id } }">

              <el-card :body-style="{ padding: '10px' }">
                <img :src="url + 'storage/' + product.hinhanh" class="image" :alt="product?.name" style="width: 100%;" />

                <div style="padding: 14px">
                  <a class="link">{{ product.name }}</a>
                  <div class="bottom">
                    <p class="price">{{ new Intl.NumberFormat('vi-VN', {
                      style: 'currency',
                      currency: 'VND',
                    }).format(product.price ) }}</p>
                  </div>
                </div>
              </el-card>
            </router-link>
          </swiper-slide>
        </swiper>
      </div>
    </section>


    <!-- <section class="anpham">
      <div class="anpham-content">

        <h5 class="anpham-title">
          ấn phẩm phổ biến
        </h5>
        <swiper :slidesPerView="4" :spaceBetween="18" :pagination="{
          clickable: true,
        }" :breakpoints="{
  '350': {
    slidesPerView: 2,
    spaceBetween: 20,
  },
  '640': {
    slidesPerView: 2,
    spaceBetween: 20,
  },
  '768': {
    slidesPerView: 4,
    spaceBetween: 20,
  },
  '1024': {
    slidesPerView: 5,
    spaceBetween: 20,
  },
}" :modules="modules" class="mySwiper">
          <swiper-slide>
            <a>
              <el-card :body-style="{ padding: '0px' }">
                <img
                  src="http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_tin_imagebanner_20180906101326175.jpg"
                  class="image" style="width: 100%;" />
                <div style="padding: 14px">
                  <a class="link">Catalogue tiêu chuẩn</a>
                  <div class="bottom">
                    <p class="price">50,000đ</p>
                  </div>
                </div>
              </el-card>
            </a>
          </swiper-slide>
        </swiper>
      </div>
    </section> -->


    <section class="anpham-yeuthich">
      <div class="anpham-yeuthich-content">

        <h5 class="anpham-yeuthich-title">
          ấn phẩm bán chạy nhất
        </h5>
        <swiper :slidesPerView="4" :spaceBetween="18" :pagination="{
          clickable: true,
        }" :breakpoints="{
  '300': {
    slidesPerView: 2,
    spaceBetween: 20,
  },
  '640': {
    slidesPerView: 2,
    spaceBetween: 20,
  },
  '768': {
    slidesPerView: 4,
    spaceBetween: 20,
  },
  '1024': {
    slidesPerView: 5,
    spaceBetween: 20,
  },
}" :modules="modules" class="mySwiper">
          <swiper-slide v-for="product in this.listProductSelling" :key="product.id">
            <router-link  @click="saveScrollPosition"  style="text-decoration: none;" :to="{ name: 'Sản phẩm', params: { id: product.sanpham_id } }">

              <el-card :body-style="{ padding: '10px' }">
                <img :src="url + 'storage/' + product.hinhanh" class="image" :alt="product?.name" style="width: 100%;" />

                <div style="padding: 14px">
                  <a class="link">{{ product.product_name }}</a>
                  <div class="bottom">
                    <p class="price">{{ new Intl.NumberFormat('vi-VN', {
                      style: 'currency',
                      currency: 'VND',
                    }).format(product.price ) }}</p>
                  </div>
                </div>
              </el-card>
            </router-link>
          </swiper-slide>
        </swiper>
      </div>
    </section>


  </master-layout>
</template>


<style >
a {
  cursor: pointer;
}

.danhmuc-title {
  font-size: 19px;
  color: #207f5c;
  text-transform: uppercase;
  font-weight: 500;
}

.cot1 {
  border-top: 2px solid #0fbaba;
}


.cot2 {
  border-top: 2px solid #f2c020;
}

.cot3 {
  border-top: 2px solid #f9b9e2;
}

.cot4 {
  border-top: 2px solid #72cca5;
}

.flashsale,
.thuvien,
.anpham,
.anpham-yeuthich {
  padding: 30px 0;
}

.flashsale-content {
  margin: 0 15px;
  border-top: 2px solid rgb(233, 0, 0);
}

.anpham-yeuthich-content {
  margin: 0 15px;
  border-top: 2px solid rgb(0, 187, 255);
}

.thuvien-content {
  margin: 0 15px;
  border-top: 2px solid #ff9b05;
}

.anpham-content {
  margin: 0 15px;
  border-top: 2px solid #207f5c;
}

.thuvien-title {
  color: #ff9b05;
  font-size: 19px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 10px 0;
}

.anpham-yeuthich-title {
  color: rgb(0, 187, 255);
  font-size: 19px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 10px 0;
}

.anpham-title {
  color: #207f5c;
  font-size: 19px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 10px 0;
}

.danhmuc-title {
  color: rgb(233, 0, 0);
  font-size: 19px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 10px 0;
}

.flashsale .el-card .link {
  color: rgb(233, 0, 0);
  font-size: 14px;
  text-transform: uppercase;

}

.anpham .link {
  color: #207f5c;
  font-size: 14px;
  text-transform: uppercase;
}

.thuvien .link {
  color: #ff9b05;
  font-size: 14px;
  text-transform: uppercase;
}

.anpham-yeuthich .link {
  color: rgb(0, 187, 255);
  font-size: 14px;
  text-transform: uppercase;
}

.anpham .price,
.anpham-yeuthich .price,
.thuvien .price {
  font-size: 15px;
  font-weight: bold;
  color: #929292;
}

.flashsale .el-card .price {
  color: #929292;
  font-size: 16px;
  font-weight: bold;
}


.el-carousel__item h3 {
  color: black;
  opacity: 0.75;
  margin: 0;
  text-align: center;
}

.el-carousel__item .content {
  font-size: 14px;
  color: black;

}

.el-carousel__item h3 {
  font-weight: bold;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}

.doitac-box .el-card {
  box-shadow: none;
  border: none;
  text-align: center;
}

.doitac-box .el-card img {
  height: 100px;
}

.doitac-box h3 {
  color: #207f5c;
  font-weight: 700;
  font-size: 150%;
}


@media screen and (max-width:550px) {
  .slider-right {
    display: none;
    transition: opacity 0.5s;
  }

  .slider-left {
    max-width: 100%;
  }
}
</style>
