

<template>
     
     <div class="pay-create">
        <h1>Cảm ơn bạn đã đặt hàng <br> đơn hàng của bạn sẽ được trao tới bạn trong vài ngày nữa</h1>
     </div>

</template>


<script>

</script>


<style>
.pay-create{
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}
.pay-create h1{
    font-weight: bold;
    color: #207f5c;
}

</style>