<template>
    <section class="pay">
        <h5 class="title">Thanh toán</h5>


        <el-row>
            <el-col :md="12" class="pay-left">
                <div class="info-pay">
                    <el-row>
                        <el-col :md="24">
                            <label>Địa chỉ email</label>
                            <div>
                                <input type="text" />
                            </div>
                        </el-col>

                        <el-col :md="24">
                            <label>Tên *</label>
                            <div>
                                <input type="text" />
                            </div>
                        </el-col>
                        <el-col :md="24">
                            <label>Họ *</label>
                            <div>
                                <input type="text" />
                            </div>
                        </el-col>
                        <el-col :md="24">
                            <label>Địa chỉ *</label>
                            <div>
                                <input type="text" />
                            </div>
                        </el-col>
                        <el-col :md="24">
                            <label>Số điện thoại *</label>
                            <div>
                                <input type="text" />
                            </div>
                        </el-col>
                    </el-row>
                </div>
            </el-col>
            <el-col :md="12" class="pay-right">
                <div class="order-my">
                    <h5 class="title">đơn hàng của bạn</h5>

                    <table class="custom-table ">
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Tạm tính</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,id) in this.listData" :key="id">
                                <th>{{ item.name }} × {{ item.quantity }} </th>
                                <th><strong>{{ new Intl.NumberFormat('vi-VN', {
                      style: 'currency',
                      currency: 'VND',
                    }).format(item.quantity * item.price )}}</strong></th>
                            </tr>
                            <tr>
                                <th><strong>Tạm tính </strong></th>
                                <th><strong>{{ new Intl.NumberFormat('vi-VN', {
                      style: 'currency',
                      currency: 'VND',
                    }).format(this.listData.reduce((a, b) => a + (b.quantity * b.price), 0)) }}</strong></th>
                            </tr>
                            <tr>
                                <th><strong style="font-size: 18px;font-weight: bold;">Tổng </strong></th>
                                <th><strong style="font-size: 18px;font-weight: bold;">{{ new Intl.NumberFormat('vi-VN', {
                      style: 'currency',
                      currency: 'VND',
                    }).format(this.listData.reduce((a, b) => a + (b.quantity * b.price), 0)) }}</strong></th>
                            </tr>
                        </tbody>
                    </table>

                    <el-button :loading="loading" class="btn-order" @click="placeOrder">đặt hàng</el-button>
                    <br />
                    <i>
                        Thông tin cá nhân của bạn sẽ được sử dụng để xử lý đơn hàng, tăng trải nghiệm sử dụng website, và
                        cho các mục đích cụ thể khác đã được mô tả trong chính sách riêng tư của chúng tôi.
                    </i>
                </div>
            </el-col>

        </el-row>
    </section>
</template>

<script>
import { useCartStore } from '../stores/Cart';
import axios from '../axios'
import {computed} from 'vue'
import { ElNotification } from 'element-plus';
export default {
    data() {
        return {
            listData: [],
           
        }
},
setup() {
    const load = useCartStore();

    const isLoading = computed(() => load.loading);
    //  console.log(isLoggedIn);
    return {
      loading: isLoading,
    };
  },
    mounted() {
        this.getCartUser()
    },
    methods: {
        async placeOrder() {
            let total= this.listData.reduce((a,b)=>a+(b.quantity * b.price),0)

            if(this.listData.length<=0){
                ElNotification({
            title: 'Tạo đơn hàng thất bại, vui lòng thêm sản phẩm',
            // message: 'This is a success message',
            type: "error",
          })

          return;
            }
            const load = useCartStore();
            load.addToCartLoad(true);

           let  order = {
                user_id: JSON.parse(localStorage.getItem('user')).id,
                total:total,
                products: this.listData,
            }
         
      try {
        // Send a POST request to your API endpoint
        const response = await axios.post('orders', order);

        // Handle the response (you can show a success message, redirect, etc.)
        if(response.status===201){
            ElNotification({
            title: 'Tạo đơn hàng thành công',
            // message: 'This is a success message',
            type: "success",
          })

          load.addToCartLoad(false);
          setTimeout(()=>{
            this.$router.push('/thanh-toan/create')
          },1000)
        }else{
            ElNotification({
            title: 'Tạo đơn hàng thất bại',
            // message: 'This is a success message',
            type: "error",
          });

          setTimeout(()=>{
            load.addToCartLoad(false);

          },1000)

        }
      } catch (error) {
        // Handle errors (show an error message, log the error, etc.)
        console.error(error);
        ElNotification({
            title: 'Tạo đơn hàng thất bại',
            // message: 'This is a success message',
            type: "error",
          });
          load.addToCartLoad(false);

      }
    },
        async getCartUser() {
            const cart = useCartStore();

            let User = JSON.parse(localStorage.getItem('user'))

            try {
                let res = await axios.get(`user/${User.id}/cart`)
                //  this.cartUser = res.data.data
                //  cart.setCart(res.data.data)
                this.listData = res.data.data

            } catch (error) {
                console.log(error)
            }

            // console.log('user',isLoggedIn)
        }

    }
}
</script>

<style>
.pay {
    padding: 0 20px;
}

.pay .title {
    margin-bottom: 15px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 20px;
    font-weight: normal;
    color: #207f5c;
}

.info-pay label {
    font-weight: bold;

}

.info-pay {
    border-top: 2px solid #207f5c;
}

.info-pay input[type='text'] {
    background: #fff;
    padding: 0 0.75em;
    width: 100%;
    color: #333;
    border: 1px solid #ddd;
    height: 2.507em;
    border-radius: 5px;
}

.pay-left {
    padding-right: 10px;
}

.pay-right {
    padding-left: 40px;
}

.info-pay .el-col {
    margin: 10px;
}

.order-my {
    padding: 30px;
    border: 2px solid #207f5c;
}

.order-my i {
    font-size: 13px;
}

.order-my .title {
    font-size: 16px;
    color: #207f5c;
    font-weight: bold;
    text-transform: uppercase;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table thead {
    color: black;
    font-weight: bold;
}

/* Thiết lập kiểu cho các ô (th) */
.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Màu nền xen kẽ cho hàng (odd và even) */
.custom-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Đổi màu khi di chuột vào hàng (hover) */
.custom-table tbody tr:hover {
    background-color: #ddd;
}

.btn-order {
    margin-top: 20px;
    background-color: #eea236;
    text-transform: uppercase;
    color: white;
    padding: 13px 16px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.btn-order:hover {
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, .2);

}</style>