<template>
  <div class="category">
    <!-- <div class="banner">
        <img style="width: 100%;" src='http://inan6.maugiaodien.com/wp-content/uploads/2022/03/The_gioi_in_an_20180827160126417banner-lo%CC%9B%CC%81n-3.3-02.jpg'/>
   </div> -->
    <div class="category-list">
      <div class="container">
        <div class="item" v-for="item in this.listData" :key="item.id">
          <router-link
            style="text-decoration: none !important"
            :to="{
              name: 'Danh Mục sản phẩm con',
              params: { id: $route.params.id, idsp: item.id },  
            }"
          >
            <el-card :body-style="{ padding: '0px' }">
              <img :src="url + 'storage/' + item.img_banner" class="image" />
              <div style="padding: 14px">
                <span>{{ item.menu_name }}</span>
                <div class="bottom">
                  <p class="time">{{ item.count_sanpham }} Sản phẩm</p>
                </div>
              </div>
            </el-card>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "../axios";
export default {
  data() {
    return {
      url: import.meta.env.VITE_APP_URL,

      listData: [],
    };
  },
  setup() {
    // const isSearch = computed(() => this.$route.params.id);

    return {
      //  routeId:isSearch
    };
  },

  mounted() {
    // console.log(routeId)
    this.getProductCategory(this.$route.params.id);
  },
  watch: {
    $route(to, from) {
      // Điều kiện kiểm tra route path thay đổi
      if (to.params.id !== from.params.id) {
      this.getProductCategory(to.params.id);
        // Gọi hàm hoặc thực hiện logic cần thiết khi route path thay đổi
        //   this.handleRouteChange();
      } else {
     }
    },
  },
  methods: {
    async getProductCategory(id) {
      try {
        let res = await axios.get(`danh-muc-san-pham/${id}`);
        this.listData = res.data;
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style>
.category {
  padding: 20px;
}

.category-list .container {
  display: grid;
  grid-template-columns: repeat(
    5,
    1fr
  ); /* Tạo 5 cột bằng cách chia đều không gian */
  grid-gap: 10px; /* Khoảng cách giữa các cột */
}
.category-list .container .item {
  padding: 15px; /* Khoảng cách bên trong cột */
}
.category-list .container .item .el-card {
  box-shadow: none;
  border: none;
  text-align: center;
  cursor: pointer;
}
.category-list .container .item .el-card img {
  max-width: 100%;
}
.category-list .container .item .el-card span {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #333333;
}
.category-list .container .item .el-card p {
  color: #207f5c;
  transition: all 0.8s;
}
.category-list .container .item .el-card:hover p {
  color: #ff6900;
}

@media screen and (max-width: 768px) {
  .category-list .container {
    display: grid;
    grid-template-columns: repeat(
      4,
      1fr
    ); /* Tạo 5 cột bằng cách chia đều không gian */
    grid-gap: 10px; /* Khoảng cách giữa các cột */
  }
}

@media screen and (max-width: 600px) {
  .category-list .container {
    display: grid;
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Tạo 5 cột bằng cách chia đều không gian */
    grid-gap: 10px; /* Khoảng cách giữa các cột */
  }
}

@media screen and (max-width: 500px) {
  .category-list .container {
    display: grid;
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Tạo 5 cột bằng cách chia đều không gian */
    grid-gap: 10px; /* Khoảng cách giữa các cột */
  }
}
.category-list .container .item {
  padding: 0;
}
</style>
