<template>
  <div v-if="this.listData.length>0" class="search-view">
    <!-- search    <p>Search key: {{ $route.query.key }}</p> -->
    <!-- {{ searchProduct(key).map((item=><h5></h5>))}} -->
    <el-row>
      <el-col
        :md="8"
        style="padding: 15px"
        v-for="item in this.listData"
        :key="item.id"
      >
        <router-link
          class="link"
          style="text-decoration: none !important"
          :to="{ name: 'Sản phẩm', params: { id: item.id } }"
        >
          <el-card
            shadow="hover"
            style="cursor: pointer"
            :body-style="{ padding: '0px' }"
          >
            <img
              :src="url+'storage/'+item.hinhanh"
              class="image"
              style="width: 100%; height: 100%; object-fit: cover"
            />
            <div style="padding: 14px">
              <span>{{ item.name }}</span>
              <p>{{ new Intl.NumberFormat('vi-VN', {
                      style: 'currency',
                      currency: 'VND',
                    }).format(item.price )  }}</p>
            </div>
          </el-card>
        </router-link>
      </el-col>
    </el-row>
  </div>
  <div v-else>
    <el-empty :image-size="200" />

  </div>
</template>

<script>
import { useRouter } from "vue-router";
import axios from "../axios";
import mitt from "mitt";
import { computed } from "vue";
import { useSearchStore } from "../stores/Search";
const eventBus = mitt();

export default {
  data() {
    return {
      listData: [],
      url :import.meta.env.VITE_APP_URL,

    };
  },
  setup() {
    const router = useRouter();
    const search = useSearchStore();
    const isSearch = computed(() => search.key);

    return {
      key: isSearch,
    };
  },

  mounted() {
    if (this.$route.query.key) {
      this.searchProduct(this.$route.query.key);
    }
  },

  watch: {
    $route(to, from) {
      // Điều kiện kiểm tra route path thay đổi
      if (to.path !== from.path) {
        // Gọi hàm hoặc thực hiện logic cần thiết khi route path thay đổi
        //   this.handleRouteChange();
      } else {
        this.searchProduct(to.query.key);
      }
    },
  },

  methods: {
    async searchProduct(key) {
      try {
        let res = await axios.get(`search?key=${key}`);
        this.listData = res.data;
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style>
.search-view {
  padding: 0 15px;
}
</style>
