<template>
    <div class="shop">
        <el-row>
            <el-col :md="5" class="side">
                <div class="category">
                    <h4>Danh mục sản phẩm</h4>
                    <div class="list">
                        <el-checkbox @change="(is, b) => onChangeItem(is, item)" v-for="item in this.listCategory"
                            :key="item.id" v-model="item.danhmuc_cap2_id" :label="item.name" size="large" />
                    </div>
                </div>

                <div class="">
                    <h4>Khoảng giá</h4>
                    <div class="list">
                        <p style="text-align:center">
                            {{ this.filter.price[0] + 'đ' + '---->' + this.filter.price[1] + 'đ' }}
                        </p>
                        <el-slider v-model="filter.price" range show-stops :max="1000" />
                    </div>
                </div>
                <div class="category">
                    <h4>Đánh giá</h4>
                    <div class="list">

                        <el-rate style="cursor: pointer;" @click="onChangeStar(5)" v-model="star5" disabled />

                        <el-rate style="cursor: pointer;" v-model="star4" @click="onChangeStar(4)" disabled show-score
                            score-template="trở lên"></el-rate>
                        <el-rate style="cursor: pointer;" v-model="star3" @click="onChangeStar(3)" disabled show-score
                            score-template="trở lên" />
                        <el-rate style="cursor: pointer;" v-model="star2" @click="onChangeStar(2)" disabled show-score
                            score-template="trở lên" />
                        <el-rate style="cursor: pointer;" v-model="star1" @click="onChangeStar(1)" disabled show-score
                            score-template="trở lên" />

                    </div>
                </div>
            </el-col>

            <el-col :md="19" class="product">
                <el-row>

                    <el-col :md='24' style="display: flex;gap: 20px;">
                        <div v-if="this.getTagDanhMuc">
                            Danh mục:
                            <el-tag @close="onCLoseName" class="mx-1" closable type="info">
                                {{ this.getTagDanhMuc }}
                            </el-tag>

                        </div>

                        <div v-if="filter.price[1] !== 0">
                            Giá sản phẩm:
                            <el-tag @close="filter.price = [0, 0]" class="mx-1" closable type="info">
                                {{ filter.price[0] + 'đ ' + 'đến ' + filter.price[1] + 'đ' }}
                            </el-tag>
                        </div>

                        <div v-if="filter.rate">
                            Số sao:
                            <el-tag @close="onChangeStar('')" class="mx-1" closable type="info">
                                {{ filter.rate }}
                            </el-tag>
                        </div>
                    </el-col>
                    <el-col v-loading="loading"
                        v-bind:class="{ 'fade-enter-active': loading, 'fade-leave-active': loading }" style="padding: 10px;"
                        :md="6" v-for="item in this.listData" :key="item.id">

                        <router-link class="link" style="text-decoration: none !important"
                            :to="{ name: 'Sản phẩm', params: { id: item.id } }">
                            <el-card shadow="hover" style="cursor: pointer" :body-style="{ padding: '0px' }">
                                <img :src="url + 'storage/' + item.hinhanh" class="image"
                                    style="width: 100%; height: 100%; object-fit: cover" />
                                <div style="padding: 14px">
                                    <span>{{ item.name }}</span>
                                    <p>{{ new Intl.NumberFormat('vi-VN', {
                                        style: 'currency',
                                        currency: 'VND',
                                    }).format(item.price) }}</p>

                                </div>
                            </el-card>
                        </router-link>

                    </el-col>
                </el-row>
            </el-col>
        </el-row>
    </div>
</template>
   

  
<script>
import axios from '../axios';
export default {

    data() {

        return {
            listCategory: [],
            star5: 5,
            star4: 4,
            star3: 3,
            star2: 2,
            star1: 1,
            listData: [],
            loading: false,
            filter: {
                danhmuc_cap2_id: [],
                price: [0, 0],
                rate: ''
            },
            tags: {
                danhmuc_cap2_id: [],

            },
            url: import.meta.env.VITE_APP_URL,

        }
    },



    created() {
        this.getCategory()
        this.getProduct(this.filter)
    },
    watch: {
        'filter.price': function (newPrice, oldPrice) {

            if (newPrice) {
                clearTimeout(this.timeout);
                this.timeout = setTimeout(() => {
                    this.getProduct(this.filter)
                }, 1000)
            }
        },

    },

    computed: {
        // Computed property tính toán diện tích dựa trên length và width
        getTagDanhMuc() {
            return this.filter.danhmuc_cap2_id.map(item => item.name).join(', ')

        },

        getPrice() {
            return this.filter.danhmuc_cap2_id.map(item => item.name).join(', ')

        },
    },
    methods: {

        onCLoseName() {
            this.filter.danhmuc_cap2_id = [];
            this.getProduct(this.filter)
        },

        async getCategory() {
            try {
                let res = await axios.get('danh-muc')
                this.listCategory = res.data
            } catch (error) {
                console.log(error)
            }
        },


        onChangeStar(e) {
            this.filter.rate = e;
            this.getProduct(this.filter)

        },




        onChangeItem(is, idd) {
            if (is) {
                this.filter.danhmuc_cap2_id.push(idd)
            } else {
                if (this.filter.danhmuc_cap2_id.includes(idd)) {
                    let dele = this.filter.danhmuc_cap2_id.filter(value => value !== idd);
                    let newObj = { ...this.filter, ['danhmuc_cap2_id']: dele }
                    this.filter = newObj
                }
            }
            this.getProduct(this.filter)
        },


        async getProduct(filter) {
            this.loading = true;
            let params = {
                danhmuc_cap2_id: filter.danhmuc_cap2_id.map(item => item.id),  // ID của danh mục sản phẩm
                price: filter.price.join('-'), // Khoảng giá sản phẩm
                star: filter.rate
            }
            try {

                let res = await axios.get('san-pham-filter', { params });
                this.listData = res.data
                this.loading = false

            } catch (error) {
                this.loading = false

                console.log(error)
            }
        }
    }

}

</script>



<style scoped>
.shop {
    padding: 0 15px;
    background-color: white;
    margin: 40px 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: transform .5s;
    transition: opacity .7s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active trong <2.1.8 */
    {
    opacity: 0;
}

.shop h4 {
    text-transform: uppercase;
}

.side,
.product {
    padding: 0 15px;
}

.side .category {

    height: 300px;
    overflow-x: scroll;
}

.side .category .list {
    display: flex;
    flex-direction: column;
}
</style>